<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">CREATE USER</h3> -->
    <div class="pending__requests mb-2">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
        </a>
        <h3>{{ 'USERS.create_user_title' | translate }}</h3>
    </div>
    <form #orderForm="ngForm" (ngSubmit)="createUser()">
    <div class="card mt-4 profilee_card">
        <div class="card-header p-3">{{ 'USERS.create_user_title_secondary' | translate }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="SiteId" class="form-label">{{ 'USERS.create_user_title_2' | translate }}</label>
                        <select class="form-select" id="SiteId" name="SiteId" [(ngModel)]="user.SiteId"
                        #SiteId="ngModel" required [ngClass]="{'is-invalid': SiteId.invalid && SiteId.touched}">
                            <option value="" disabled>-- Select a Product --</option>
                            <!-- <option value="0" disabled>-- Select a Site --</option> -->
                            <option *ngFor="let site of allSites" [value]="site.SiteId">{{site.SiteName}}</option>
                        </select>

                        <div *ngIf="SiteId.invalid && SiteId.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>       
                </div>

                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="EmailAddress" class="form-label">{{ 'USERS.create_user_title_3' | translate }}</label>
                        <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" [(ngModel)]="user.EmailAddress"
                        #EmailAddress="ngModel" required [ngClass]="{'is-invalid': EmailAddress.invalid && EmailAddress.touched}">
                        <div *ngIf="EmailAddress.invalid && EmailAddress.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="FirstName" class="form-label">{{ 'USERS.create_user_title_4' | translate }}</label>
                        <input type="text" class="form-control" id="FirstName" name="FirstName" [(ngModel)]="user.FirstName"
                        #FirstName="ngModel" required [ngClass]="{'is-invalid': FirstName.invalid && FirstName.touched}">
                        <div *ngIf="FirstName.invalid && FirstName.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="LastName" class="form-label">{{ 'USERS.create_user_title_5' | translate }}</label>
                        <input type="text" class="form-control" id="LastName" name="LastName" [(ngModel)]="user.LastName"
                        #LastName="ngModel" required [ngClass]="{'is-invalid': LastName.invalid && LastName.touched}">
                        <div *ngIf="LastName.invalid && LastName.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-md" *ngIf="userEmailContainsSaintGobain()">
                    <div class="form-group mb-3">
                        <label for="SGID" class="form-label">{{ 'USERS.create_user_title_6' | translate }}</label>
                        <input type="text" class="form-control" id="SGID" name="SGID" [(ngModel)]="user.SGID"
                        #SGID="ngModel" required [ngClass]="{'is-invalid': SGID.invalid && SGID.touched}">
                        <div *ngIf="SGID.invalid && SGID.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="CompanyName" class="form-label">{{ 'USERS.create_user_title_7' | translate }}</label>
                        <input type="text" class="form-control" id="CompanyName" name="CompanyName" [(ngModel)]="user.CompanyName"
                        #CompanyName="ngModel" required [ngClass]="{'is-invalid': CompanyName.invalid && CompanyName.touched}">
                        <div *ngIf="CompanyName.invalid && CompanyName.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="Address" class="form-label">{{ 'USERS.create_user_title_8' | translate }}</label>
                        <input type="text" class="form-control" id="Address" name="Address" [(ngModel)]="user.Address"
                        #Address="ngModel" required [ngClass]="{'is-invalid': Address.invalid && Address.touched}">
                        <div *ngIf="Address.invalid && Address.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="City" class="form-label">{{ 'USERS.create_user_title_city' | translate }}</label>
                        <input type="text" class="form-control" id="City" name="City" [(ngModel)]="user.City"
                        #City="ngModel" required [ngClass]="{'is-invalid': City.invalid && City.touched}">
                        <div *ngIf="City.invalid && City.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="State" class="form-label">{{ 'USERS.create_user_title_9' | translate }}</label>
                        <input type="text" class="form-control" id="State" name="State" [(ngModel)]="user.State"
                        #State="ngModel" required [ngClass]="{'is-invalid': State.invalid && State.touched}">
                        <div *ngIf="State.invalid && State.touched" style="color: red;">
                            This field is required
                        </div>
                        
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="ZipCode" class="form-label">{{ 'USERS.create_user_title_10' | translate }}</label>
                        <input type="text" class="form-control" id="ZipCode" name="ZipCode" [(ngModel)]="user.ZipCode"
                        #ZipCode="ngModel" required [ngClass]="{'is-invalid': ZipCode.invalid && ZipCode.touched}">
                        <div *ngIf="ZipCode.invalid && ZipCode.touched" style="color: red;">
                            This field is required
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="Country" class="form-label">{{ 'USERS.create_user_title_11' | translate }}</label>
                        <input type="text" class="form-control" id="Country" name="Country" [(ngModel)]="user.Country"
                        #Country="ngModel" required [ngClass]="{'is-invalid': Country.invalid && Country.touched}">
                        <div *ngIf="Country.invalid && Country.touched" style="color: red;">
                            This field is required
                        </div>
                        
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="Phone" class="form-label">{{ 'USERS.create_user_title_12' | translate }}</label>
                        <input type="text" class="form-control" id="Phone" name="Phone" [(ngModel)]="user.Phone"
                        #Phone="ngModel" required [ngClass]="{'is-invalid': Phone.invalid && Phone.touched}">
                        <div *ngIf="Phone.invalid && Phone.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="securityLevel" class="form-label">{{ 'USERS.create_user_title_13' | translate }}</label>
                        <select class="form-select"  id="securityLevel" name="securityLevel" [(ngModel)]="user.securityLevel"
                        #securityLevel="ngModel" required [ngClass]="{'is-invalid': securityLevel.invalid && securityLevel.touched}">
                            <option>-- Select Security Level --</option>
                            <option *ngFor="let role of securityLevels" [value]="role.RoleId" [selected]="role.RoleId==selected">{{ role.Role }}</option>
                        </select>
                      
                        <div *ngIf="securityLevel.invalid && securityLevel.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="showSuccessAlert" class="alert alert-success alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                User created successfully!
            </div>
            <div *ngIf="showUpdateAlert" class="alert alert-success alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                User Updated successfully!
            </div>
            <div *ngIf="showErrorAlert" class="alert alert-danger alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                User already exists!
            </div>
            <button type="submit" id="create" class="btn btn-primary mt-4" [disabled]="orderForm.invalid">CREATE USER</button>
            <!-- <button id="update" class="btn btn-primary mt-4" style="display: none;" (click)="UpdateUser()">UPDATE USER</button> -->
        </div>
</div>
</form>
</div>