<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">ALL ORDERS</h3> -->
    <div class="pending__requests mb-2">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
          </a>
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">{{ 'create_new_order.upload_proof_header' | translate }}</h3>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">
                    {{ 'create_new_order.upload_proof_title' | translate }} #{{ proofOrderName }}
                </div>
                <div class="card-body">
                    <p>
                        {{ 'create_new_order.upload_proof_1' | translate }}<br>  
                    {{ 'create_new_order.upload_proof_2' | translate }} <span style="color: #005EB8; font-weight: 600;">Choose File</span> {{ 'create_new_order.upload_proof_3' | translate }}{{ 'create_new_order.upload_proof_4' | translate }}</p>
                    <div class="form-group input__proof">
                        <!-- <label for="uploadNewFile"><strong>Upload New File</strong></label><br> -->
                        <input class="mt-2" type="file" name="uploadNewFile" id="uploadNewFile">
                    </div>
                    <div *ngIf="showErrorAlert" class="alert alert-danger mt-3" role="alert">
                        {{ 'create_new_order.upload_proof_5' | translate }}
                      </div>
                      
                      <!-- <div *ngIf="showSuccessAlert" class="alert alert-success mt-3" role="alert">
                          File uploaded successfully.
                      </div> -->

                      <!-- Please select a file alert -->
                      <div *ngIf="showFileSelectAlert" class="alert alert-warning mt-3" role="alert">
                        {{ 'create_new_order.upload_artwork_8' | translate }}
                      </div>
                    <button type="button" class="btn btn-primary mt-4" (click)="uploadFile()">{{ 'create_new_order.upload_artwork_9' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>           