<main>
    <div class="container" style="padding-left: 0; margin-bottom: 0;">
        <div class="dashboard__title">
          <a href="javascript:void(0)" (click)="goBack()">
            <!-- <img class="chevron" src="../../../assets/images/left-chevron.png" alt=""> -->
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/chevron.png" alt="">
          </a>
          <h3>{{'welcome.welcome_dashboard' | translate}}</h3>
        </div>
      </div>
    
    <section class="container dashboard__content" style="padding-left: 0;">
      <div class="row">
        <div class="col-md-4 mb-3">
          <div class="card" routerLink="/allOrders">
            <div class="card__left">
              <!-- <img src="../../../assets/images/order-icon.png" alt=""> -->
              <img src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/order-icon.png" alt="">
            </div>
            <div class="card__right">
              <p>{{ 'welcome.all_orders' | translate }}</p>
              <h3>{{ totalOrders }}</h3> 
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3" *ngIf="this.SecurityLevel !== '4' && this.SecurityLevel !== '3' ">
          <div class="card" routerLink="/dashboard">
            <div class="card__left">
              <img src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/completed-orders-icon.png" alt="">
            </div>
            <div class="card__right">
              <p>{{ 'welcome.completed_orders' | translate }}</p>
              <h3>{{ completedOrders }}</h3> 
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3" *ngIf="this.SecurityLevel !== '4'">
          <div class="card" routerLink="/processedOrders">
            <div class="card__left">
              <img src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/processed-orders-icon.png" alt="">
            </div>
            <div class="card__right">
              <p>{{ 'welcome.processed_orders' | translate }}</p>
              <h3>{{ proccessedCount }}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container" style="padding-left: 0; margin-bottom: 0; margin-top: 1em;">
      <div class="dashboard__title">
        <h3>{{ 'welcome.quick_actions' | translate }}</h3>
      </div>

      <div class="table__container">
      <table id="example">
        <thead>
          <tr>
            <th>{{ 'welcome.pending_1' | translate }}</th>
            <th>{{ 'welcome.pending_2' | translate }}</th>
            <th>{{ 'welcome.pending_3' | translate }}</th>
            <th>{{ 'welcome.pending_5' | translate }}</th>
            <th>{{ 'welcome.pending_6' | translate }}</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let order of quickAction">
            <td style="vertical-align:top">{{ order.CTOrderDate | date: 'yyyy-MM-dd' }}</td>
            <td style="vertical-align:top">{{ order.CTOrderNumber }}</td>
            <td style="vertical-align:top">{{ order.SiteName }}</td>
            <td style="vertical-align:top">{{ order.Status }}</td>
            <td style="padding-left: 0; padding-right: 0;">
                    <!-- <div class="action_btn" (click)="uploadArtwork(order.OrderID)">
                      {{ 'create_new_order.upload_artwork_header' | translate }}       
                    </div> -->
                    <div class="action_btn" (click)="goToOrder(order.OrderID)">
                      Go to order     
                    </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <div class="table__container" *ngIf="SecurityLevel == '3'">
      <table id="example">
        <thead>
          <tr>
            <th>Order Date</th>
            <th>Order Number</th>
            <th>Product</th>
            <th>Order Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let order of quickActionEndUser">
            <td style="vertical-align:top">{{ order.CTOrderDate | date: 'yyyy-MM-dd' }}</td>
            <td style="vertical-align:top">{{ order.CTOrderNumber }}</td>
            <td style="vertical-align:top">{{ order.SiteName }}</td>
            <td style="vertical-align:top">{{ order.Status }}</td>
            <td style="padding-left: 0; padding-right: 0;">
                    <div class="action_btn" (click)="navigateToreviewProof(order.OrderID,order.ProofIDNew)">
                        Review Artwork        
                    </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
    
    </div>
    

</main>