* {
    font-family: gotham,"Helvetica","Arial",sans-serif;
}

main {
    /* border: 1px solid red; */
    margin: 2em 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.dashboard__title {
    /* margin-top: 2em; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 2em; */
    padding: 1em;
    background: #F5F3F0;
    border-radius: 5px;
}

.dashboard__title h3 {
    margin-bottom: 0em;
    color: #005EB8; 
    font-weight: 600; 
    font-size: 24px;
    text-transform: uppercase; 
}

.dashboard__title .chevron {
    display: none;
    height: 15px;
    /* margin-right: 20px; */
}

.dashboard__content {
    margin-top: 2em;
}



.card-body {
    padding: 0;
}

.card {
    /* padding: .75rem; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    color: #005EB8;
    border-left: 7px solid #005EB8;
    border-top-left-radius: .5em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: 0em;
    cursor: pointer;
}

.card__left {
    padding: 1em;
}

.card__left img {
    max-height: 60px;
}

.card__right p {
    margin-top: .5em;
    margin-bottom: 0em;
    font-size: 16px;
    font-weight: 400;
}

.card__right h3 {
    font-size: 32px;
    font-weight: 600;
}

.pending__requests {
    margin-top: 2em;
    padding: 1em;
    background: #F5F3F0;
    border-radius: 8px;
}

.pending__requests h3 {
    margin-bottom: 0em;
}

tbody tr td:last-child {
    color: #005EB8;
    font-weight: 600;
}

.action_btn {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    background: #005eb8;
    color: white;
    border: 1px solid #014e96;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.btn {
    font-weight: 700;
    /* padding: .3em 2em; */
    background: #005eb8;
    color: white;
    border: 2px solid #014e96;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}

.table__container{
    padding: 1em;
    overflow-x: auto;
    max-width: 100%;
    /* border: 1px solid red; */
}

/* #example {
    border: 1px solid;
    padding: 1em;
} */

/* Mobileonly screen  */
@media(max-width: 480px)  {
    .dashboard__title {
        /* border: 1px solid red; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 2em;
    }
    .dashboard__title h3 {
        font-size: 18px;
    }
    .dashboard__title .chevron {
        display: block;
        height: 15px;
        /* margin-right: 20px; */
    }
    .card-header {
        font-size: 16px;
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 8px;
    }
    .col-md {
        margin-bottom: 1em;
    }
    .products_card, .assign_customers_card {
        /* border: 1px solid red; */
        margin: 0 19.5px;
    }
    .btn {
        /* margin-top: 1em; */
        width: 100%;
    }
    .hidden__field {
        visibility: visible;
        display: none;
    }
    .table__container{
        margin: 0 15px;
        /* border: 1px solid red; */
    }
    .alert-success {
        margin: 0 20px 20px 20px;
    }
   }

   @media (min-width: 481px) and (max-width: 580px) {
    .dashboard__title {
        /* border: 1px solid red; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 2em;
    }
    .dashboard__title h3 {
        font-size: 18px;
    }
    .dashboard__title .chevron {
        display: block;
        height: 15px;
        /* margin-right: 20px; */
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 8px;
    }
   }