<div class="container">
    <div class="pending__requests mb-2">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
          </a>
        <h3>reset order status</h3>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-3">
                    ORDER STATUS FOR ORDER #101
                </div>
                <div class="card-body">
                    <p>Current Status : <span><b>{{ currentOrderStatus }}</b></span></p>
                    <div class="form-group">
                        <label for="orderStatus" class="form-label">Select new order status :</label>
                        <select class="form-select" id="orderStatus" name="orderStatus" [(ngModel)]="selectedStatusId" (change)="onStatusSelectionChange($event)" ngDefaultControl>
                            <option value="" disabled selected>-- Select a Status--</option>
                            <option *ngFor="let status of allOrderStatus" [value]="status.StatusId">{{ status.Status }}</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary mt-4" (click)="resetOrderStatus()">Update Order Status</button>
                </div>
            </div>
        </div>
    </div>
</div>           