* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gotham,"Helvetica","Arial",sans-serif;
}

header {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

footer {
    background: #F5F3F0;
    padding: 2em 0;
}

/* .col-md {
    border: 1px solid #73695b;
} */

.fa-brands {
    color: #005EB8;
    font-size: clamp(1em, 2vw, .1em);
}

.social-icons-container {
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    /* border: 1px solid red; */
}

.social-icons-container li {
    list-style: none;
}

.quick-links-container {
    margin-top: 1em;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5em;
}

.quick-links-container li {
    list-style: none;
}

.quick-links-container li a {
    text-decoration: none;
    color: #212121;
}

.quick-links-container li a:hover {
    text-decoration: underline;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.newsletter-container h3 {
    font-weight: 700;
}

.newsletter-container p {
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: clamp(0.85rem, 0.6936rem + 0.301vw, 1rem);
}

/* .newsletter-container a {
    text-decoration: none;
    color: #212121;
    font-weight: 700;
    margin-right: .5em;
} */
.subscription-container {
    display: inline-block;
    position: relative;
}

.newsletter-subscription {
    color: #212121;
    transition: color .1s ease-in;
    text-decoration: none;
    padding-top: 2em;
    font-weight: 700;
}
.newsletter-subscription:hover {
    color: #005EB8;
}

.logos img {
    height: 72px;
    margin-bottom: 1em;
}

.newsletter-container .sg-logo {
    height: 7vh;
    align-self: flex-end;
    margin-top: 3em;
}

.newsletter-container i {
    cursor: pointer;
    transition: all .2s ease-in;
}

.newsletter-container i:hover {
    transform: translateX(5px);
}

.footer-links-container {
    display: flex;
    justify-content: center;
    align-items: center;   
    background: #005EB8;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.newsletter-subscription__link {
    cursor: pointer;
}
.newsletter-subscription__link:hover {
    color: #005EB8;
}

@media (max-width: 992px) {
    .logos {
        margin-bottom: 3em;
    }
}

@media (max-width: 576px) {
    footer {
        margin: 2em;
        padding: 0;
    }
    .logos, .quick-links-container {
        margin-bottom: 3em;
    }
    .newsletter-container .sg-logo {
        height: 7vh;
        align-self: flex-start;
        margin-top: 3em;
    }
}