<div class="container">
    <div class="pending__requests mb-2">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
          </a>
        <h3>{{'update_shipping.shippingdate_title' | translate }}</h3>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-3">
                    {{'update_shipping.shippingdate_header' | translate }} #{{ OrderName }}
                </div>
                <div class="card-body">
                    <div class="form-group mb-1">
                        <!-- <p style="margin-bottom: .5em; background: #F5F3F0; display: inline-block; padding: 1em;"> -->
                        <p style="margin-bottom: .5em; font-weight: 500;">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="updateProductCode" value="" name="updateProductCode" id="flexCheckDefault" ngDefaultControl />
                        <span style="margin-left: 1em;">{{'update_shipping.shippingdate_update_code' | translate }}</span>
                        </p>
                    </div>
                    <div class="table__container">
                    <table style="width: 100%;">
                        <thead style="border-bottom: 1px solid black;">
                            <tr>
                                <th>{{'update_shipping.shippingdate_new_code' | translate }}</th>
                                <th>{{'update_shipping.shippingdate_product_code' | translate }}</th>
                                <th>{{'update_shipping.shippingdate_product_desc' | translate }}</th>
                                <th>{{'update_shipping.shippingdate_reference' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody style="padding-top: 2em;">
                            <tr *ngFor="let order of orders">
                                <td valign="top" [ngStyle]="{'background-color': row_color}">
                                    <input style="margin-top: .5em;" type="text" class="form-control" [disabled]="!updateProductCode" name="NEW_{{order.ProxyID}}" id="NEW_{{order.ProxyID}}" [(ngModel)]="order.NewProductCode" ngDefaultControl/>
                                </td>
                                <td valign="top" [ngStyle]="{'background-color': row_color}" [(ngModel)]="order.ProductCode" ngDefaultControl>{{order.ProductCode}}</td>
                                <td valign="top" [ngStyle]="{'background-color': row_color}" [(ngModel)]="order.ProductDescription" ngDefaultControl>{{order.ProductDescription}}</td>
                                <td valign="top" [ngStyle]="{'background-color': row_color}">
                                    <input style="margin-top: .5em;" type="text" class="form-control" [(ngModel)]="order.ProxyID" [disabled]="!updateProductCode" name="RE_{{order.ProxyID}}" id="RE_{{order.ProxyID}}" value="{{order.ProxyID}}" ngDefaultControl/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                    <div class="form-group mt-5">
                        <p>
                        <input class="form-check-input" type="checkbox" [(ngModel)]="updateShipDate" name="updateShipDate" id="flexCheckDefault" ngDefaultControl />
                        <span style="margin-left: 1em; font-weight: 500;">{{'update_shipping.shippingdate_update_anticipated' | translate }}</span>
                        </p>
                            <div class="form-group col-10">
                                <label for="">{{'update_shipping.shippingdate_anticipated' | translate }}</label>
                                <input type="date" class="form-control" [disabled]="!updateShipDate" name="updateShipDate" [(ngModel)]="AnticipatedShipDate" ngDefaultControl>
                            </div>
                        <small style="color: red;">*** {{'update_shipping.shippingdate_nothedate' | translate }} ***</small>
                    </div>
                    
                    <div class="form-group mt-5">
                        <!-- <p style="margin-bottom: .5em; background: #F5F3F0; display: inline-block; padding: 1em;"> -->
                        <p style="margin-bottom: .5em;">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="updateCompletionDate" name="updateCompletionDate" id="flexCheckDefault" ngDefaultControl />
                        <span style="margin-left: 1em; font-weight: 500;">{{'update_shipping.shippingdate_update_completion' | translate }}</span>
                        </p>
                        <p>{{'update_shipping.shippingdate_completion_text' | translate }}</p>
                        <label for="">{{'update_shipping.shippingdate_completion' | translate }}:</label>
                        <input type="date" class="form-control" [disabled]="!updateCompletionDate" name="updateCompletionDate" [(ngModel)]="ActualShipDate" ngDefaultControl>
                        <small style="color: red;">*** {{'update_shipping.shippingdate_nothedate' | translate }} ***</small>
                    </div>

                    <button type="submit" class="btn btn-primary mt-4" (click)="Submit()">{{'update_shipping.shippingdate_btn' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>           