<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">ALL ORDERS</h3> -->
    <div class="pending__requests mb-2">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
        </a>
        <h3>{{ 'create_new_order.review_proof_header' | translate }}</h3>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-3">
                    {{ 'create_new_order.review_proof_title' | translate }} #{{ OrderName }}
                </div>
                <div class="card-body">
                    <p>{{ 'create_new_order.review_proof_1' | translate }}</p>
                    <p style="font-weight: 500; margin-bottom: 0em;">{{ 'create_new_order.review_proof_2' | translate }}</p>
                    <p><a href="javascript:void(0);" (click)="downloadArtwork()">Click here</a> {{ 'create_new_order.review_proof_3' | translate }}</p>
                    <p>{{ 'create_new_order.review_proof_4' | translate }}: <b><u>{{ pmsColors }}</u></b></p>
                    <p style="font-weight: 500; margin-bottom: 0em;">{{ 'create_new_order.review_proof_5' | translate }}</p>
                    <div class="row" style="margin: 1em 2px; gap: 25px;">
                        <div class="col-md card inside__card">
                            <p style="font-weight: 500; margin-bottom: 0em;">{{ 'create_new_order.review_proof_6' | translate }}<p>
                            <p>{{ 'create_new_order.review_proof_7' | translate }}</p>
                            <p>I,  <b style="color: #005EB8;">{{ 'create_new_order.review_proof_8' | translate }}</b> button.</p>
                            <p>
                                <u>
                                    {{ 'create_new_order.review_proof_9' | translate }}
                                </u>
                            </p>
                            <p><b>{{ 'create_new_order.review_proof_10' | translate }}</b></p>
                            <div class="form-group mt-3" style="background: beige; padding: 10px 10px 0px 10px;">
                                <p>
                                    <input style="margin-right: 5px;" class="form-check-input" type="checkbox" id="checkbox1" [(ngModel)]="checkbox1Checked">
                                     {{ 'create_new_order.review_proof_11' | translate }}</p>
                            </div>
                            <div class="form-group mb-3" style="background: beige; padding: 10px 10px 0px 10px; margin-top: 1em;">
                                <p>
                                    <input style="margin-right: 5px;" class="form-check-input" type="checkbox" id="checkbox2" [(ngModel)]="checkbox2Checked">
                                    {{ 'create_new_order.review_proof_12' | translate }}</p>
                            </div>
                            <p><b>{{ 'create_new_order.review_proof_13' | translate }}</b></p>
                            <p>Your IP address {{userIPAdress}} {{ 'create_new_order.review_proof_13' | translate }}</p>
                            <button type="button" (click)="ProofApprove()" class="btn btn-primary mt-2 mb-3">{{ 'create_new_order.review_proof_approve_btn' | translate }}</button>
                        </div>
                        <div class="col-md card inside__card">
                            <p style="font-weight: 500; margin-bottom: 14px;">{{ 'create_new_order.review_proof_14' | translate }}</p>
                            <p>{{ 'create_new_order.review_proof_15' | translate }}<b style="color: #005EB8;">{{ 'create_new_order.review_proof_reject_btn' | translate }}</b> {{ 'create_new_order.review_proof_16' | translate }}</p>
                            <div class="form-group">
                                <label for="rejectingProof" style="margin-bottom: 5px;">
                                    {{ 'create_new_order.review_proof_17' | translate }}
                                </label>
                                <textarea style="resize: none;" class="form-control mb-3" id="exampleFormControlTextarea1" rows="8" placeholder="Write something here ..." [(ngModel)]="str"></textarea>
                            </div>
                            <p>Your IP address {{userIPAdress}} {{ 'create_new_order.review_proof_13' | translate }}</p>
                            <button type="button" (click)="ProofReject()" class="btn btn-primary mt-2 mb-3">{{ 'create_new_order.review_proof_reject_btn' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>           