<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">ALL ORDERS</h3> -->
    <div class="pending__requests mb-2">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
        </a>
        <h3>Completed Orders</h3>
    </div>

    <div class="row" *ngIf="noOrdersMessage; else ordersTable">
        <!-- Display the message if there are no completed orders -->
        <p style="color: red; text-align: center; border: 1px solid red; padding: 1em 0; margin-top: 2em;">{{ noOrdersMessage }}</p>
    </div>
    
    <ng-template #ordersTable>
    <div class="table__container">
    <table class="table" id="example">
        <thead>
          <tr>
            <th>Order Date</th>
            <th>Order Number</th>
            <th>Product</th>
            <th>Ship to Information</th>
            <th>Order Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let order of completedOrders">
            <td style="vertical-align:top">{{ order.CTOrderDate | date: 'yyyy-MM-dd' }}</td>
            <td style="vertical-align:top">{{ order.CTOrderNumber }}</td>
            <td style="vertical-align:top">{{ order.SiteName }}</td>
            <td style="vertical-align:top">
                <p>{{ order.CTShipToInformation_Name }}</p>
                <p>{{ order.CTShipToInformation_CompanyName }}</p>
                <p>{{ order.CTShipToInformation_Address }}</p>
                <p>{{ order.CTShipToInformation_City }}, {{ order.CTShipToInformation_State }}</p>
                <p>{{ order.CTShipToInformation_Country }}</p>
            </td>
            <td style="vertical-align:top">{{ order.StatusId }}</td>
            <!-- <td style="vertical-align:top">{{ orderStatus }}</td> -->
            <!-- <td>{{ order.AnticipatedShipDate | date: 'yyyy-MM-dd' }}</td> -->
            <td style="padding-left: 0; padding-right: 0;">
                <div class="actions">
                    <div class="action_1">
                        <div class="tooltip-container" id="View">
                            <div class="tooltip">View</div>
                            <div style="padding: .3em .5em" class="action_item" (click)="navigateToViewOrder(order.OrderID)">
                                <img style="height: 15px; margin-right: 0px; cursor: pointer;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-view.png" />
                                <!-- <span>View</span> -->
                            </div>
                        </div>
                        <div class="tooltip-container" id="Print">
                            <div class="tooltip">Print</div>
                            <div style="padding: .3em .6em;" class="action_item" (click)="printOrder(order.OrderID)">
                                <img style="height: 18px; margin-right: 0px; cursor: pointer;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-print.png" />
                            </div>
                        </div>
                    </div>
                    <div class="action_3" >
                        <span>Artwork</span>
                            <!-- <div class="tooltip-container" id="ArtworkUpload" [ngClass]="{'disabled-action': order.varAllowLogoUpload==1}" *ngIf="order.varAllowLogoUpload==1"> -->
                            <div class="tooltip-container" id="ArtworkUpload" [ngClass]="{'disabled-action': order.varAllowLogoUpload!==1 }">
                            <div class="tooltip-container" id="ArtworkUpload">
                                <div class="tooltip">Upload</div>
                                <div style="padding: .3em .5em" class="action_item">
                                <img style="height: 23px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-upload.png" />
                            </div>
                        </div>
                        </div>    
                        <!-- <div class="tooltip-container" id="ArtworkDownload" [ngClass]="{'disabled-action': order.ArtworkIDNew!=''}" *ngIf="order.ArtworkIDNew!=''" > -->
                        <div class="tooltip-container" id="ArtworkDownload" [ngClass]="{'disabled-action': order.ArtworkIDNew==='' && order.Status !== 'Order Being Processed' }">
                        <div class="tooltip-container" id="ArtworkDownload">
                            <div class="tooltip">Download</div>
                            <div style="padding: .3em .5em" class="action_item" (click)="downloadArtwork(order.OrderID)">
                                <img style="height: 23px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-download.png" />
                            </div>
                        </div>  
                        </div>
                    </div>
                    <div class="action_4">
                        <span>Proof</span>
                        <!-- <div class="tooltip-container" id="ProofUpload" [ngClass]="{'disabled-action': order.varAllowProofUpload !== 1}" *ngIf="order.varAllowProofUpload==1"> -->
                        <div class="tooltip-container" id="ProofUpload" [ngClass]="{'disabled-action': order.varAllowProofUpload !== 1}">
                            <div class="tooltip">Upload</div>
                            <div style="padding: .3em .5em" class="action_item">
                                <img style="height: 23px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-upload.png" />
                            </div>
                        </div>    
                        <!-- <div class="tooltip-container" id="ProofDownload" [ngClass]="{'disabled-action': order.ProofIDNew!=''} *ngIf="order.ProofIDNew!=''" > -->
                        <div class="tooltip-container" id="ProofDownload" [ngClass]="{'disabled-action': order.ProofIDNew==='' && order.Status !== 'Order Being Processed' && order.Status !== 'Complete'  }">
                            <div class="tooltip">Download</div>
                            <div style="padding: .3em .5em" class="action_item" (click)="downloadProof(order.OrderID)">
                                <img style="height: 23px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-download.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   </ng-template>
</div>   
