.container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'roboto', sans-serif;
}

/* .card-header {
    background: #005EB8;
} */
.table__container{
    overflow-x: auto;
    max-width: 100%;
    /* border: 1px solid red; */
}

.table {
    /* width: 100%; */
    margin-top: 2em; 
    margin-bottom: 0; 
    /* Set other table styles as needed */
}

.btn {
    font-weight: 700;
    /* padding: .3em 2em; */
    background: #005eb8;
    color: white;
    border: 2px solid #014e96;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}

.footer-modal {
    padding: 1em;
    display: flex;
    /* flex-grow: 1;
    gap: .5em; */
}

.btn-delete {
    flex-grow:1;
    width: 100%;
    font-weight: 700;
    padding: .5em;
    background: rgb(229, 51, 51);
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}
.btn-no-delete {
    flex-grow: 1;
    font-weight: 700;
    padding: .5em;
    background: white;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}
.btn-no-delete:hover {
    background: rgb(229, 51, 51);
}

.footer-modal {
    padding: 1em;
    display: flex;
    /* justify-content: center;
    align-items: center;*/
    gap: .5em; 
    /* justify-content: space-between;  */
}

.btn-delete, .btn-no-delete {
    flex: 1;
    font-weight: 700;
    padding: .5em;
    border: 1px solid red;
    border-radius: 5px;
    font-family: gotham, "Helvetica", "Arial", sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-delete {
    background: rgb(234, 69, 69);
    color: white;
}

.btn-no-delete {
    background: white;
    color: #005eb8;
    border: 1px solid #005eb8;
}

.btn-delete:hover {
    background: red;
    color: white;
}

.btn-no-delete:hover {
    background: #005eb8;
    color: white;
}



.actions {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #005eb8;
    /* justify-content: flex-start;
    align-items: center; */
    gap: .5em;
}

.action_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
}
.action_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
}
.action_3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
}
.action_4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
}
.action_5 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
}
.action_6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
}

.action_item {
    /* padding: .5em; */
    background: #005EB8;
    border-radius: .3em;
    cursor: pointer;
    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
}

.disabled-action {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    pointer-events: none;
    /* cursor: not-allowed; */
}

/* tbody tr {
    border-bottom: 2px solid red;
    margin-bottom: 4em;
} */


 .actions__one ul {
    padding-left: 0;
    margin-bottom: .5em;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em; */
}

.actions__one ul li {
    list-style: none;
}

.actions__one ul li a {
    text-decoration: none;
}

.action__item {
    margin-bottom: .5em;
    padding: .1rem 1rem;
    font-weight: 600;
    border-radius: .3rem;
    background: #F5F3F0;
    color: #005eb8;
    cursor: pointer;
}

.action__item span {
    padding-left: .3em;
}


.actions__two {
    /* margin-bottom: 1em; */
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2em;
}

.artwork, .proof {
    background: #F5F3F0;
}

.pending__requests {
    /* margin-top: 2em; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 2em; */
    padding: 1em;
    background: #F5F3F0;
    border-radius: 5px;
}

.pending__requests h3 {
    margin-bottom: 0em;
    color: #005EB8; 
    font-weight: 600; 
    font-size: 24px;
    text-transform: uppercase; 
}

.pending__requests .chevron {
    display: none;
    height: 15px;
    /* margin-right: 20px; */
}

table {
    border-collapse: collapse;
  }
  
  tr {
    margin-bottom: 1em;
    border-bottom: 2px solid #F5F3F0;
  }

.actions span {
    font-size: 12px;
}

.tooltip-container {
    position: relative;
  }
  
  .tooltip {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: white;
    /* text-align: center; */
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
.modal-body {
    padding-bottom: 0;
}

/* FOR SHIP TO INFORMATION, SO THAT IT APPEARS CLEAN */
tbody tr td p { 
    margin-bottom: .3em;
}

.disabled {
    pointer-events: none;
}

.overlay {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


/* Mobileonly screen  */
@media(max-width: 480px)  {
    .pending__requests {
        /* border: 1px solid red; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 2em;
    }
    .pending__requests h3 {
        font-size: 18px;
    }
    .pending__requests .chevron {
        display: block;
        height: 15px;
        /* margin-right: 20px; */
    }
    .card-header {
        font-size: 16px;
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 8px;
    }
    .col-md {
        margin-bottom: 1em;
    }
    .products_card, .assign_customers_card {
        /* border: 1px solid red; */
        margin: 0 19.5px;
    }
    .btn {
        /* margin-top: 1em; */
        width: 100%;
    }
    .hidden__field {
        visibility: visible;
        display: none;
    }
    .table__container{
        margin: 0 15px;
        /* border: 1px solid red; */
    }
    .alert-success {
        margin: 0 20px 20px 20px;
    }
   }

   @media (min-width: 481px) and (max-width: 580px) {
    .pending__requests {
        /* border: 1px solid red; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 2em;
    }
    .pending__requests h3 {
        font-size: 18px;
    }
    .pending__requests .chevron {
        display: block;
        height: 15px;
        /* margin-right: 20px; */
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 8px;
    }
   }