.container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'roboto', sans-serif;
}

.dashboard__content {
    padding-left: 0; 
    margin-top: 1em;
}

.card {
    min-width: fit-content;
    padding: .5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #005EB8;
    border: 1px solid #d6d0c8;
    cursor: pointer;
    gap: 1em;
}

.card-header {
    font-size: 18px;
    font-weight: 600;
    background: #005EB8;
    color: #fff;
}

.card__left {
    background: #F5F3F0;
    padding: 1em;
}

.card__right p {
    margin-bottom: 0;
    text-align: left;
}

.card__right h3 {
    text-align: left;
    font-size: 2em;
    font-weight: 600;
}
.pending__requests {
    /* margin-top: 2em; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 2em; */
    padding: 1em;
    background: #F5F3F0;
    border-radius: 5px;
}

.pending__requests h3 {
    margin-bottom: 0em;
    color: #005EB8; 
    font-weight: 600; 
    font-size: 24px;
    text-transform: uppercase; 
}

.pending__requests .chevron {
    display: none;
    height: 15px;
    /* margin-right: 20px; */
}

.accordion-button {
    background-color: white;
    color: #005EB8;
    /* margin-bottom: 1em; */
    /* border-bottom: 2px solid #F5F3F0; */
  }

.accordion-body {
    padding: 0;
}

.accordion-button:not(.collapsed) {
    background-color: #005eb8;
    /* background-color: red; */
    color: white;
  }
  

/* .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16'  fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
} */

 /* Mobileonly screen  */
 @media(max-width: 480px)  {
    .pending__requests {
        /* border: 1px solid red; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 2em;
    }
    .pending__requests h3 {
        font-size: 18px;
    }
    .pending__requests .chevron {
        display: block;
        height: 15px;
        /* margin-right: 20px; */
    }
    .dashboard__content {
        margin-top: 0;
    }
    .card-header {
        font-size: 16px;
    }
    .card {
        margin-bottom: 1em;
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 8px;
    }
    .col-md {
        margin-bottom: 1em;
    }
    .products_card, .assign_customers_card {
        /* border: 1px solid red; */
        margin: 0 11.5px;
    }
    .btn {
        /* margin-top: 1em; */
        width: 100%;
    }
    .hidden__field {
        visibility: visible;
        display: none;
    }
   }

   @media (min-width: 481px) and (max-width: 580px) {
    .pending__requests {
        /* border: 1px solid red; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 2em;
    }
    .pending__requests h3 {
        font-size: 18px;
    }
    .pending__requests .chevron {
        display: block;
        height: 15px;
        /* margin-right: 20px; */
    }
    .dashboard__content {
        margin-top: 0;
    }
    .card-header {
        font-size: 16px;
    }
    .card {
        margin-bottom: 1em;
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px;
    }
    .col-md {
        margin-bottom: 1em;
    }
   }

   @media (min-width: 580px) and (max-width: 771px) {
    .card {
        margin-bottom: 1em;
    }
    .dashboard__content {
        margin-top: 0;
    }
   }
  