<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">REPORTS</h3> -->
    <div class="pending__requests mb-4">
      <a href="javascript:void(0)" (click)="goBack()">
        <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
      </a>
      <h3>{{ 'reports.reports_title' | translate }}</h3>
    </div>

     <!-- ORDER REPORTS BUTTONS   -->
    <section class="container dashboard__content" style="margin-bottom: 0;">
        <div class="row">
          <div class="col-md-4">
            <div class="card" routerLink="/annuallyOrders">
              <div class="card__left">
                <img style="height: 6vh;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/annually-calendar.png" alt="">
              </div>
              <div class="card__right">
                <p>{{ 'reports.reports_title_1' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" routerLink="/monthlyOrders">
              <div class="card__left">
                <img style="height: 6vh;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/monthly-calendar.png" alt="">
              </div>
              <div class="card__right">
                <p>{{ 'reports.reports_title_2' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" routerLink="/ordersInLast60Days">
              <div class="card__left">
                <img style="height: 6vh;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/60-days-calendar.png" alt="">
              </div>
              <div class="card__right">
                <p>{{ 'reports.reports_title_3' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ACCOUNT REPORTS BUTTONS  -->
    <section class="container dashboard__content">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-3" routerLink="/userAccountActivity">
              <div class="card__left">
                <img style="height: 6vh;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/accounts-log.png" alt="">
              </div>
              <div class="card__right">
                <p>{{ 'reports.reports_title_4' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3" routerLink="/userOrdersActivity">
              <div class="card__left">
                <img style="height: 6vh;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/orderss-log.png" alt="">
              </div>
              <div class="card__right">
                <p>{{ 'reports.reports_title_5' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3" routerLink="/productLogs">
              <div class="card__left">
                <img style="height: 6vh;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/product-log.png" alt="">
              </div>
              <div class="card__right">
                <p>{{ 'reports.reports_title_6' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</div>