.top__navigation {
    background: #ede8e0;
    /* background: #F5F3F0; */
    /* border: 1px solid red; */
}

.top__navigation__content {
    padding: 7px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top__navigation__time {
    /* border: 1px solid red; */
    margin-right: auto;
}

/* header {
    padding: 1em;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28)
} */

header ul li a {
    position: relative; /* Add relative positioning to the anchor */
    color: #005eb8;
    text-decoration: none; /* Remove default underline */
}

header ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Adjust the height of the underline as needed */
    background-color: #005eb8;
    transform: scaleX(0); /* Initially set the underline to be invisible */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; /* Add a transition for smooth effect */
}

header ul li a:hover::after {
    transform: scaleX(1); /* When hovering, scale the underline to show it */
}

/* .header-bottom {
    box-shadow: 0 1px 14px 1px rgba(32, 33, 9, 0.22);
    box-shadow: 0 0 12px rgba(0,0,0,.24);
    z-index: 1001;
    border: 2px solid red;
} */

.btn-logout {
    margin-left: 1.5em;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0.3rem 2rem;
    /* padding: 10px 22px; */
    font-weight: 700;
    background: #005eb8;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn-logout:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}

/* .navbar-brand {
    padding-top: .5em;
    padding-bottom: .5em;
} */

/* .navbar-brand img {
    width: 17.90rem;
} */

/* 888888888 LANGUAGEEEEE  888888888888888 */
.flag-icon-us {
    width: 1.5rem;
    height: 1.25rem;
    /* background-image: url('https://stg.newcertainteed.com/themes/custom/certainteed/dist/icons.svg#icon-US');
     */
    background-image: url('../../../assets/images/usa-flag.jpg'); 
}
.utility-drop__country-divider {
    margin: 0 0.125rem;
}
.flag-icon {
    margin: 0.25rem 0.25rem 0 0;
    position: relative;
    display: inline-block;
    line-height: 1em;
    background-size: 24px 22px !important;
}
.flag-icon-cn {
    width: 1.5rem;
    height: 1.25rem;
    /* background-image: url('../../../assets/cnd.jpg'); */
    background-image: url('../../../assets/cnd.jpg'); 
}

/* .flag-icon-cn {
    width: 20px;
    height: 20px;
    background-image: url('../../../assets/canada.png');
    z-index: 100;
} */

/* .flag-icon-us img {
    width: 1.3rem;
    height: 1rem;
    margin-right: .3em;
} */

.utility-nav__list .dropdown--country .utility-nav__content {
    padding: 1.2rem 2.2rem 1.25rem 1.25rem;
    background: red;
}
.open .utility-nav__content {
    display: block;
}

.utility-nav__content {
/*     display: none; */
    position: absolute;
    top: 110%;
    right: 2%;
    padding: 1rem;
    z-index: 15;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.15);
    min-width: 11.45rem;
}
.bg__white, .bg-solid-bg-white {
    background-color: var(--c-black);
}

.utility-nav__content .menu__item--country {
    margin-bottom: 1.25rem;
}
.utility-nav__content .menu__item--country {
    margin-bottom: 1.25rem;
}
.utility-nav__content .menu__item .menu__link {
    white-space: nowrap;
/*     color: var(--c-grey-dark); */
}

.utility-nav__content .menu__item--country .menu__link {
    font-size: 1.125rem;
    font-weight: 700;
}
.utility-nav__content .menu__link {
    color: var(--c-grey);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0);
    display: flex;
    align-items: center;
}
.utility__icon.utility__icon--country {
    width: 1.5rem;
    height: 1.25rem;
}

.utility-nav__content .utility__icon--country {
    margin-right: 0.625rem;
}
.utility__icon {
    margin: 0 0.25rem;
}
.utility-nav__content .menu__item--country:not(:first-child) {
    padding-top: 1.5rem;
    border-top: solid 0.0625rem gray;
}

.utility-nav__content .menu__item--country {
    margin-bottom: 1.25rem;
}
.utility-nav__content .menu__item--language {
    margin-bottom: 1.5rem;
}
ul, ol {
    list-style: none;
}

button.js-utility-drop__trigger.utility-drop__trigger {
    /* margin: 1em 0em; */
    margin-left: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
    background: none;
    border: none;
}

/* .nav-item {
    visibility: hidden;
} */

.js-utility-drop-title {
    color: #005eb8;
    text-decoration: underline;
    margin-right: .3em;
}

div.utility-nav__content.bg__white {
    background: white;
    padding-bottom: 0;
    padding-right: 2em;
}

ul.menu {
    padding-left: 0;
}

.profileDropdown {
    position: relative;
}

ul.dropdown-menu.show {
    position: absolute;
    top: 32px;
    right: -5px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: .5em;
}
/* 
.dropdown-menu {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0; 
    min-width: 10rem; 
    padding: 0.5rem 0; 
    margin: 0;
    list-style: none; 
    background-color: #fff; 
    border: 1px solid rgba(0, 0, 0, 0.15); 
    border-radius: 0.25rem; 
    z-index: 1000; 
}

 .nav-item:hover .dropdown-menu {
    display: block; 
} 

.dropdown-item {
    display: block;
    width: 100%; 
    padding: 0.25rem 1.5rem; 
    clear: both; 
    font-weight: 400; 
    color: #212529; 
    text-align: inherit; 
    white-space: nowrap; 
    background-color: transparent; 
    border: 0; 
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b; 
    background-color: #f8f9fa;
    text-decoration: none; 
}  */


/* ul.dropdown-menu.show {
    position: absolute;
    top: 40px;
    right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: .5em;
} */

.dropdown-menu li {
    border: 1px solid #eee;
}

.dropdown-menu li a:hover {
    background: #005eb8;
    color: white;
} 

  .main_menu {
    /* border-bottom: 1px solid red; */
    position: relative;
    margin-top: 0;
    box-shadow: 0px 8px 18px 0px rgba(32, 33, 36, 8%)
    /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) */
  }
  .subcontainer{
        width: 100%;
        background: white;
        /* border: 1px solid red; */
  }
  
  .navbar_menu{
      background: white;
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* border: 1px solid red; */
  }
  
  /* .nav-branding{
    border: 1px solid;
  } */

  .nav-branding img {
    height: 60px;
  }
  
  .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* border: 1px solid red; */
  }
  
  .nav-link{
    transition: 0.3s ease-out;
  }

  .nav-item a {
    color: #005eb8;
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #005eb8;
  }

.nav-link {
    position: relative; /* Add relative positioning to the anchor */
    display: flex;
    padding: 5px;
    gap: 5px;
    color: #005eb8;
    text-decoration: none; /* Remove default underline */
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Adjust the height of the underline as needed */
    background-color: #005eb8;
    transform: scaleX(0); /* Initially set the underline to be invisible */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; /* Add a transition for smooth effect */
}

.nav-link:hover::after {
    transform: scaleX(1); /* When hovering, scale the underline to show it */
}

.nav-icon {
    display: none;
}

/* .myNav {
    position: relative;
} */

  @media(max-width:1024px){
    .hamburger{
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu{
      position: absolute;
      right: -80%;
      /* top: 69px; */
      top: 70px;
      /* bottom: 0; */
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: white;
      /* border: 1px solid red; */
      border-left: 5px solid #005eb8;
      height: 10000px;
      /* border: 1px solid red; */
      /* width: 200px; */
      transition: right 0.3s;
      z-index: 5000;
      box-shadow: 0px 8px 18px 0px rgba(32, 33, 36, 8%)
      /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) */
    }

    .inside__menus {
        /* border: 1px solid greenyellow; */
        padding-top: 1em;
        padding-bottom: 1em;
        /* padding-right: 2em; */
    }
  
    .nav-menu.active{
        /* left: 0; */
        right: 0;
        margin-bottom: 0;
    }

    .onmobile {
        background: white;
        /* height: 100vh; */
        /* width: 300px; */
        padding: 0 20px;
    }
    .onmobile .nav-item {
        display: flex;
    }
    .nav-icon {
        height: 25px;
        display: block;
    }
    li.nav-item.inside__menus {
        display: flex;
    }
    .nav-link:hover, .nav-link:active, .nav-link:focus {
        background: #ede8e0;
    }
    
/* 
    ul.nav-menu.onmobile.active {
        border: 1px solid red;
    } */
  }

    /* Mobileonly screen  */
   @media(max-width: 480px) {
    .top__navigation {
        /* border: 1px solid red; */
        padding: 0 20px;
    }
    .top__navigation__time {
        display: none;
    }
    .navbar_menu {
        /* border: 1px solid red; */
        margin: 0 20px;
    }
    .nav-branding img {
        width: 200px;
    }
    /* ul.dropdown-menu.show {
        position: absolute;
        top: 40px;
        right: 10px;
    } */
    .inside__menus {
        padding-bottom: 1em;
        padding-right: 0px;
    }
   } 

   @media (min-width: 481px) and (max-width: 580px) {
    .top__navigation {
        /* border: 1px solid red; */
        padding: 0 20px;
    }
    .navbar_menu {
        /* border: 1px solid red; */
        margin: 0 20px;
    }
   }

   @media (min-width: 580px) and (max-width: 771px) {
    /* ul.dropdown-menu.show {
        position: absolute;
        top: 40px;
        right: 80px;
    } */
    .inside__menus {
        padding-bottom: 1em;
        padding-right: 4em;
    }
   }

   @media (max-width: 345px) {
    .nav-menu{
        position: absolute;
        right: -120%;
        /* top: 69px; */
        top: 70px;
        /* bottom: 0; */
        gap: 10px;
        height: 10000px;
        /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) */
      }
  
      .inside__menus {
          /* border: 1px solid greenyellow; */
          padding-top: 1em;
          padding-bottom: 1em;
          /* padding-right: 2em; */
      }
    
      .nav-menu.active{
          /* left: 0; */
          right: 0;
          margin-bottom: 0;
      }
   }