<!-- <nav class="navbar navbar-expand-lg" style="padding: .07em 0;"> -->
<div class="top__navigation">  
  <div class="container top__navigation__content" style="padding-left: 0;">

    <div class="top__navigation__time">
      <p style="color: #005EB8; font-size: 16px; margin-bottom: 0;">{{ todaysTimeAndDate$ | async }}</p>
    </div>

    <div class="dropdown dropdown--country bg__grey-light js-utility-nav js-utility-drop__wrapper utility-drop__wrapper" (document:click)="clickout($event)" style="height: 28px;">
        <!-- <div class="dropdown dropdown--country bg__grey-light js-utility-nav js-utility-drop__wrapper utility-drop__wrapper" (click)="toggleDropdown($event)" style="height: 28px;"> -->
          <button class="js-utility-drop__trigger utility-drop__trigger" style="height: 100%;" (click)="toggleDropdown($event)">
            <span class="flag-icon flag-icon-us" id="flag"></span>
            <span aria-hidden="true" class="js-utility-drop-title">{{flag | uppercase}}<span class="utility-drop__country-divider">|</span>{{langauge | uppercase}}</span>
            <span class="arrow"> <img src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/Path 1.svg" /></span>
          </button>
          <div class="utility-nav__content bg__white" *ngIf="isDropdownOpen">
            <ul class="menu">
              <li class="menu__item menu__item--country">
                <a class="menu__link">
                  <span class="flag-icon flag-icon-us utility__icon--country"></span>
                  United States
                </a>
              </li>
              <li class="menu__item menu__item--language">
                <a class="menu__link" (click)="useLanguage('en','us')">
                  <span class="visually-hidden">United States</span>
                  English (EN)
                </a>
              </li>
              <li class="menu__item menu__item--language">
                <a class="menu__link" (click)="useLanguage('es','us')">
                  <span class="visually-hidden">United States</span>
                  Spanish (ES)
                </a>
              </li>
              <li class="menu__item menu__item--country">
                <a class="menu__link">
                  <span class="flag-icon flag-icon-cn  utility__icon--country"></span>
                  Canada
                </a>
              </li>
              <li class="menu__item menu__item--language">
                <a class="menu__link" (click)="useLanguage('en','cn')">
                  <span class="visually-hidden">Canada</span>
                  English (EN)
                </a>
              </li>
              <li class="menu__item menu__item--language">
                <a class="menu__link" (click)="useLanguage('fr','cn')">
                  <span class="visually-hidden">Canada</span>
                  French (FR)
                </a>
              </li>
            </ul>
          </div>
      </div>
      
      <div>
        <li *ngIf="showProfile" style="list-style: none; margin-left: 1em;" class="nav-item profileDropdown" #dropdown>
          <a style="text-decoration: none;" class="dropdown-toggle" href="#" role="button" (click)="toggleProfileDropdown($event)">
            <span>
              <img style="height: 20px; margin-bottom: 2px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/my-profile-icon.png" alt="">
              {{ FirstName }}
            </span>
          </a>
          <ul class="dropdown-menu" [class.show]="isProfileDropdownOpen" aria-labelledby="navbarDropdown">
            <li style="list-style: none;"><a class="dropdown-item" routerLink="/userprofile" (click)="closeDropdownInsideProfile()">My Profile</a></li>
            <li style="list-style: none; cursor: pointer;"><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>   
      </div>  
      <!-- <button class="btn-logout" *ngIf="showLogoutButton" (click)="logout()">{{ 'header.logout' | translate }} </button> -->
    </div>
  </div>  
  <!-- </div> -->
<!-- </nav> -->

<!-- <header>
  <div class="container d-flex justify-content-between align-items-center" style="padding-left: .11em; padding-top: 0.006em; padding-right: 0;">
    <a class="navbar-brand" routerLink="/landing">
      <img src="https://www.certainteed.com/themes/custom/certainteed/images/logo.svg" alt="">
    </a>
     <ul class="d-flex gap-3" style="margin-bottom: 0;">
      <li style="list-style: none;" *ngIf="showNavItems" >
        <a routerLink="/createNewOrder">{{ 'header.create_new_order' | translate }} </a>
      </li>
      <li style="list-style: none;" *ngIf="showNavItems">
        <a routerLink="/repeatOrder">{{ 'header.repeat_order' | translate }} </a>
      </li>
      <li style="list-style: none;" *ngIf="showNavItems">
        <a routerLink="/User">{{ 'header.create_user' | translate }}</a>
      </li>
       <li style="list-style: none;" *ngIf="showNavItems">
        <a routerLink="/roleAccess">{{ 'header.role_access' | translate }} </a>
      </li> 
      <li style="list-style: none;" *ngIf="showNavItems">
        <a routerLink="/reports">{{ 'header.reports' | translate }} </a>
      </li>
    </ul> 
    <ul class="d-flex gap-3" style="margin-bottom: 0;">
      <li *ngFor="let nav of navList" >
        <a routerLink="{{nav.Url}}" *ngIf="showNavItems">{{ nav.name | translate }} </a>
      </li>
    </ul>
  </div>
</header> -->

<section class="main_menu">
  <div class="container" style="padding-left: .11em; padding-top: 0.006em; padding-right: 0;">
    <div class="subcontainer">
      <nav class="navbar_menu myNav">
        <a href="/" class="nav-branding">
          <img src="https://www.certainteed.com/themes/custom/certainteed/images/logo.svg" alt="">
        </a>
        <ul class="nav-menu onmobile" style="margin-bottom: 0;">
          <ng-container *ngFor="let nav of navList">
              <ng-container *ngIf="showNavItem(nav)">
                  <li class="nav-item inside__menus">
                      <a class="nav-link" routerLink="{{nav.Url}}">
                          <img class="nav-icon" [src]="nav.iconPath" alt="{{nav.name}}">
                          <!-- {{ nav.name | translate }} -->
                          <!-- {{ nav.name | translate | async }} -->
                          <!-- {{ nav.name }} -->
                          {{ 'MENU.' + nav.name | translate }}
                      </a>
                  </li>
              </ng-container>
          </ng-container>
      </ul>
      
          <!-- <ul class="nav-menu onmobile" style="margin-bottom: 0;">
            <li class="nav-item inside__menus" *ngFor="let nav of navList" >
              <a class="nav-link" routerLink="{{nav.Url}}" *ngIf="showNavItems">
                <img class="nav-icon" [src]="nav.iconPath" alt="{{nav.name}}">
                {{ nav.name | translate }} 
              </a>
            </li>
          </ul> -->
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </div>
  </div>
</section>
