<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">CREATE USER</h3> -->
    <div class="pending__requests mb-2">
       
        <h3>Forgot Password</h3>
    </div>
    <form #orderForm="ngForm" (ngSubmit)="ForgotPassword()">
    <div class="card mt-4 profilee_card">
        <div class="card-header p-3">Login to your account</div>
        <div class="card-body">
            <div *ngIf="showErrorAlert1" class="alert alert-danger alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                Please enter valid email address
            </div>
            <div *ngIf="showErrorAlert2" class="alert alert-danger alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                User not found with this email address
            </div>
    
            <div *ngIf="showSuccessAlert" class="alert alert-success alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                Email Send Successfully
            </div>
    
            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="Email" class="form-label">Enter User Email</label>
                        <input type="text" class="form-control" id="Email" name="Email" [(ngModel)]="user.Email"
                        #Email="ngModel" required [ngClass]="{'is-invalid': Email.invalid && Email.touched}">
                        <div *ngIf="Email.invalid && Email.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
            </div>
     
            <button type="submit" id="create" class="btn btn-primary mt-4" [disabled]="orderForm.invalid">Submit</button>
        </div>
    </div>
    </form>
</div>