<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">Profile</h3> -->
    <div class="pending__requests mb-2">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
          </a>
        <h3>{{ 'myProfile.myprofile_title' | translate }}</h3>
    </div>
    <div class="card mt-4 profile_card">
        <div class="card-header p-3">{{ 'myProfile.myprofile_header' | translate }}</div>
        <div class="card-body">
        <div class="row">
            <div class="col-md">
                <div class="form-group mb-3">
                    <label for="FirstName" class="form-label">{{ 'USERS.create_user_title_4' | translate }}</label>
                    <input type="text" class="form-control" id="FirstName" name="FirstName" aria-describedby="firstNameHelp"
                    #FirstName="ngModel" [(ngModel)]="user.FirstName">  
                </div>
            </div>
            <div class="col-md">
                <div class="form-group mb-3">
                    <label for="LastName" class="form-label">{{ 'USERS.create_user_title_5' | translate }}</label>
                    <input type="text" class="form-control" id="LastName" name="LastName" aria-describedby="lastNameHelp"
                    #LastName="ngModel" [(ngModel)]="user.LastName">  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group mb-3">
                    <label for="CompanyName" class="form-label">{{ 'myProfile.myprofile_org' | translate }}</label>
                    <input type="text" class="form-control" id="CompanyName" name="CompanyName" aria-describedby="organizationHelp" 
                    #CompanyName="ngModel" [(ngModel)]="user.CompanyName">  
                </div>
            </div>
            <div class="col-md">
                <div class="form-group mb-3">
                    <label for="Address" class="form-label">{{ 'USERS.create_user_title_8' | translate }}</label>
                    <input type="email" class="form-control" id="Address" name="Address" aria-describedby="emailHelp"
                    #Address="ngModel" [(ngModel)]="user.Address">  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group mb-3">
                    <label for="City" class="form-label">{{ 'USERS.create_user_title_city' | translate }}</label>
                    <input type="text" class="form-control" id="City" name="City" aria-describedby="organizationHelp"
                    #City="ngModel" [(ngModel)]="user.City">  
                </div>
            </div>
            <div class="col-md">
                <div class="form-group mb-3">
                    <label for="State" class="form-label">{{ 'USERS.create_user_title_9' | translate }}</label>
                    <input type="text" class="form-control" id="State" name="State" aria-describedby="contactnoHelp"
                    #State="ngModel" [(ngModel)]="user.State">  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group mb-3">
                    <label for="Country" class="form-label">{{ 'USERS.create_user_title_11' | translate }}</label>
                    <input type="text" class="form-control" id="Country" name="Country" aria-describedby="securityLevelHelp"
                    #Country="ngModel" [(ngModel)]="user.Country">  
                </div>
            </div>
            <div class="col-md">
                <div class="form-group mb-3">
                    <label for="ZipCode" class="form-label">{{ 'USERS.create_user_title_10' | translate }}</label>
                    <input type="text" class="form-control" id="ZipCode" name="ZipCode" aria-describedby="countryHelp"
                    #ZipCode="ngModel" [(ngModel)]="user.ZipCode">  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group mb-3">
                    <label for="Phone" class="form-label">{{ 'USERS.create_user_title_12' | translate }}</label>
                    <input type="text" class="form-control" id="Phone" name="Phone" aria-describedby="securityLevelHelp"
                    #Phone="ngModel" [(ngModel)]="user.Phone">  
                </div>
            </div>
        </div>
        <div *ngIf="showUpdateAlert" class="alert alert-success alert-dismissible fade show" style="margin-top: 2em;" role="alert">
            {{ 'myProfile.myprofile_updateAlert' | translate }}
        </div>
        <button type="submit" class="btn-logout" (click)="updateUser()">{{ 'myProfile.myprofile_updateProfile' | translate }}</button>

        </div>
    </div>

    <div class="card mt-4 profile_card">
        <div class="card-header p-3">{{ 'myProfile.myprofile_changePassword' | translate }}</div>
        <div class="card-body">
            <p>{{ 'myProfile.myprofile_password_text' | translate }}</p>
            <ul>
                <li>- <b>{{ 'myProfile.myprofile_password_1' | translate }}</b> {{ 'myProfile.myprofile_password_7' | translate }}</li>
                <li>- <b>{{ 'myProfile.myprofile_password_2' | translate }}</b> {{ 'myProfile.myprofile_password_7' | translate }}</li>
                <li>- <b>{{ 'myProfile.myprofile_password_3' | translate }}</b></li>
                <li>- <b>{{ 'myProfile.myprofile_password_4' | translate }}</b> {{ 'myProfile.myprofile_password_6' | translate }}</li>
                <li>- {{ 'myProfile.myprofile_password_5' | translate }} <b>8</b> {{ 'myProfile.myprofile_password_6' | translate }}</li>
            </ul>            
            <div class="form-group mb-3">
                <label style="margin-bottom: 0;" for="FirstName" class="form-label">{{ 'myProfile.myprofile_password_8' | translate }}</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" aria-describedby="firstNameHelp">  
            </div>
            <div class="form-group mb-3">
                <label style="margin-bottom: 0;" for="LastName" class="form-label">{{ 'myProfile.myprofile_password_9' | translate }}</label>
                <input type="text" class="form-control" id="LastName" name="LastName" aria-describedby="lastNameHelp">  
            </div>
            <div class="form-group mb-3">
                <label style="margin-bottom: 0;" for="LastName" class="form-label">{{ 'myProfile.myprofile_password_10' | translate }}</label>
                <input type="text" class="form-control" id="LastName" name="LastName" aria-describedby="lastNameHelp">  
            </div>
            <button type="submit" class="btn-logout">{{ 'myProfile.myprofile_password_submit' | translate }}</button>
    </div>

 </div>
