* {
    overflow: hidden;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: disc;
    margin-bottom: 2em;
}

.container {
    margin-top: 2em;
    margin-bottom: 5em;
    padding-left: 0;
    padding-right: 0;
    font-family: 'roboto', sans-serif;
} 

.container h2 {
    margin-bottom: 1em;
}

.card-header {
    font-size: 18px;
    font-weight: 600;
    background: #005EB8;
    color: #fff;
    text-transform: uppercase;
}

.btn-logout {
    margin-top: 1em;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0.3rem 2rem;
    /* padding: 10px 22px; */
    font-weight: 700;
    background: #005eb8;
    border: 1px solid #01305b;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn-logout:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}

.pending__requests {
    /* margin-top: 2em; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 2em; */
    padding: 1em;
    background: #F5F3F0;
    border-radius: 5px;
}

.pending__requests h3 {
    margin-bottom: 0em;
    color: #005EB8; 
    font-weight: 600; 
    font-size: 24px;
    text-transform: uppercase; 
}

.pending__requests .chevron {
    display: none;
    height: 15px;
    /* margin-right: 20px; */
}

/* Mobileonly screen  */
@media(max-width: 480px) {
    .pending__requests {
        /* border: 1px solid red; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 2em;
    }
    .pending__requests h3 {
        font-size: 18px;
    }
    .pending__requests .chevron {
        display: block;
        height: 15px;
        /* margin-right: 20px; */
    }
    .card-header {
        font-size: 16px;
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 8px;
    }
    .col-md {
        margin-bottom: 1em;
    }
    .profile_card{
        /* border: 1px solid red; */
        margin: 0 19.5px;
    }
    .btn-logout {
        /* margin-top: 1em; */
        width: 100%;
    }
   } 

   @media (min-width: 481px) and (max-width: 580px) {
    .pending__requests {
        /* border: 1px solid red; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 2em;
    }
    .pending__requests h3 {
        font-size: 18px;
    }
    .pending__requests .chevron {
        display: block;
        height: 15px;
        /* margin-right: 20px; */
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 8px;
    }
    .profile_card{
        /* border: 1px solid red; */
        margin: 0 19.5px;
    }
   }

