<div class="container">
    
    <div class="pending__requests mb-4">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
        </a>
        <h3>{{'reports.reports_title_4' | translate }}</h3>
    </div>

<div class="table__container">   
<table id="accountDataTable" class="table" style="margin-bottom: 0;">
    <thead>
        <tr>
            <th>{{ 'logs.log_DateEntered' | translate }}</th>
            <th>{{ 'logs.log_IPAddress' | translate }}</th>
            <th>{{ 'logs.log_Browser' | translate }}</th>
            <th>{{ 'logs.log_ChangeType' | translate }}</th>
            <th>{{ 'logs.log_ChangeDetail' | translate }}</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let change of accountHistory">
                <td>{{ change.DateEntered }}</td>
                <td>{{ change.IPAddress }}</td>
                <td>{{ change.BrowserInfo }}</td>
                <td>{{ change.ActionType}}</td>  
                <td>{{ change.ActionDescription }}</td> 
        </tr>
    </tbody>
</table>


</div>
