<div class="container">
    <div class="pending__requests mb-2">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
        </a>
        <h3>{{ 'create_new_order.title' | translate }}</h3>
    </div>
    <form #orderForm="ngForm" (ngSubmit)="createOrder()">
    <div class="row mt-4">
        <div class="col-md">
            <div class="card space__card">
                <div class="card-header p-3">{{ 'create_new_order.order_info' | translate }}</div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="Siteid" class="form-label">{{ 'create_new_order.label_site' | translate }}</label>
                        <select class="form-select" id="Siteid" name="Siteid" [(ngModel)]="order.Siteid" ngDefaultControl
                        #Siteid="ngModel" required [ngClass]="{'is-invalid': Siteid.invalid && Siteid.touched}" (change)='onOptionsSelected(Siteid.value)'>
                            <option value="" disabled selected>-- Select a Product --</option>
                            <option *ngFor="let site of allSites" [value]="site.SiteId">{{site.SiteName}}</option>
                        </select>
                        <div *ngIf="Siteid.invalid && Siteid.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>                    
                    
                    <div class="form-group mb-3">
                        <label for="orderNumber" class="form-label" name="CTOrderNumber" id="CTOrderNumber">{{ 'create_new_order.label_Order_Number' | translate }}</label>
                        <input type="text" class="form-control" name="CTOrderNumber" id="CTOrderNumber"
                               #CTOrderNumber="ngModel" [(ngModel)]="order.CTOrderNumber" required pattern="[0-9]*"
                               (input)="checkCTOrderNumber()"
                               [ngClass]="{'is-invalid': CTOrderNumber.invalid && CTOrderNumber.touched}">
                            <div *ngIf="CTOrderNumber.invalid && CTOrderNumber.errors?.['required'] && CTOrderNumber.touched" style="color: red">
                                This field is required
                            </div>
                            <div *ngIf="CTOrderNumber.invalid && CTOrderNumber.errors?.['pattern'] && CTOrderNumber.touched" style="color: red">
                                Please enter only numbers
                            </div>      
                        <!-- Display error message if CTOrderNumber is not unique -->
                        <div *ngIf="errorMessage" style="color: red">
                            {{ errorMessage }}
                        </div>   
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="PONumber" class="form-label" name="CTPONumber" id="CTPONumber">{{ 'create_new_order.label_PO_Number' | translate }}</label>
                        <input type="text" class="form-control" name="CTPONumber" id="CTPONumber" 
                               #CTPONumber="ngModel" [(ngModel)]="order.CTPONumber" required 
                               [ngClass]="{'is-invalid': CTPONumber.invalid && CTPONumber.touched}">
                        <div *ngIf="CTPONumber.invalid && CTPONumber.touched" style="color: red">
                            This field is required
                        </div>     
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="dateOfOrder" class="form-label" name="CTOrderDate" id="CTOrderDate">{{ 'create_new_order.label_Order_date' | translate }}</label>
                        <!-- <input type="text" class="form-control" value="{{ todayDate | date:'dd-MM-yyyy' }}" disabled> -->
                        <input type="text" class="form-control" value="6/4/2024" disabled>
                    </div>
                    
                    <div class="from-group mb-3">
                        <label for="anticipatedCompletionDate" class="form-label" name="AnticipatedShipDate" id="AnticipatedShipDate">{{ 'create_new_order.label_anticipated' | translate }}</label>
                        <input type="text" class="form-control" value="---" disabled>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="orderStatus" class="form-label" name="StatusId" id="StatusId">{{ 'create_new_order.label_order_status' | translate }}</label>
                        <input type="text" class="form-control" name="StatusId" id="StatusId" value="Pending Artwork Upload by Customer" disabled readonly />
                    </div>

                    <div class="form-group mb-3">
                        <label for="EnteredBy" class="form-label" name="EnteredBy" id="EnteredBy">{{ 'create_new_order.label_entered_by' | translate }}</label>
                        <input type="text" class="form-control" name="EnteredBy" id="EnteredBy" [(ngModel)]="order.EnteredBy" disabled readonly />
                    </div>

                    <div class="form-group mb-3">
                        <label for="lastUpdated" class="form-label" name="DateUpdated" id="DateUpdated">{{ 'create_new_order.label_last_updated' | translate }}</label>
                        <input type="text" class="form-control" id="lastUpdated" value="---" disabled>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="artworkFile" class="form-label" name="ArtworkID" id="ArtworkID">{{ 'create_new_order.label_Artwork' | translate }}</label>
                        <input type="text" class="form-control" id="artworkFile" value="---" disabled>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="latestProof" class="form-label" name="ProofID" id="ProofID">{{ 'create_new_order.label_latest_proof' | translate }}</label>
                        <input type="text" class="form-control" id="latestProof" value="---" disabled>
                    </div>

                    <div class="form-group mb-3">
                        <label for="OrderType" class="form-label" name="OrderType" id="OrderType">{{ 'create_new_order.label_Order_Type' | translate }}</label>
                        <input type="text" class="form-control" id="OrderType" name="OrderType" placeholder="New Order" disabled readonly />
                    </div>
                </div>
            </div>
        </div>

        <!-- SHIPPINGGGG -->
        <div class="col-md">
            <div class="card">
                <div class="card-header p-3">{{ 'create_new_order.shipping_info' | translate }}</div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="orderBy" class="form-label" name="OrderBy" id="OrderBy">{{ 'create_new_order.label_OrderBy' | translate }}</label>
                        <input type="text" class="form-control" name="OrderBy" id="OrderBy"
                        #OrderBy="ngModel" [(ngModel)]="order.OrderBy" />

                    </div>
                    <div class="form-group mb-3">
                        <label for="shipTo" class="form-label" name="CTShipToInformation_Name">{{ 'create_new_order.label_ShipTo' | translate }}</label>
                        <input type="text" class="form-control" id="shipTo" name="CTShipToInformation_Name" id="CTShipToInformation_Name"
                        #CTShipToInformation_Name="ngModel"  [(ngModel)]="order.CTShipToInformation_Name" />

                    </div>
                    <div class="form-group mb-3">
                        <label for="company" class="form-label" name="CTShipToInformation_CompanyName" id="CTShipToInformation_CompanyName">{{ 'create_new_order.label_Company' | translate }}</label>
                        <input type="text" class="form-control" name="CTShipToInformation_CompanyName" id="CTShipToInformation_CompanyName" 
                        #CTShipToInformation_CompanyName="ngModel" [(ngModel)]="order.CTShipToInformation_CompanyName" required
                        [ngClass]="{'is-invalid': CTShipToInformation_CompanyName.invalid && CTShipToInformation_CompanyName.touched}">
                        <div *ngIf="CTShipToInformation_CompanyName.invalid && CTShipToInformation_CompanyName.touched" style="color: red">
                            This field is required
                        </div>  
                    </div>

                    <div class="form-group mb-3">
                        <label for="contact" class="form-label" name="CTShipToInformation_AccountNumber" id="CTShipToInformation_AccountNumber">{{ 'create_new_order.label_Contact' | translate }}</label>
                        <input type="text" class="form-control" name="CTShipToInformation_AccountNumber" id="CTShipToInformation_AccountNumber" 
                        #CTShipToInformation_AccountNumber="ngModel" [(ngModel)]="order.CTShipToInformation_AccountNumber" required
                        [ngClass]="{'is-invalid': CTShipToInformation_AccountNumber.invalid && CTShipToInformation_AccountNumber.touched}">
                        <div *ngIf="CTShipToInformation_AccountNumber.invalid && CTShipToInformation_AccountNumber.touched" style="color: red">
                            This field is required
                        </div>  
                    </div>

                    <div class="form-group mb-3">
                        <label for="address" class="form-label" name="CTShipToInformation_Address" id="CTShipToInformation_Address">{{ 'create_new_order.label_Address' | translate }}</label>
                        <input type="text" class="form-control" name="CTShipToInformation_Address" id="CTShipToInformation_Address" 
                        #CTShipToInformation_Address="ngModel" [(ngModel)]="order.CTShipToInformation_Address" required
                        [ngClass]="{'is-invalid': CTShipToInformation_Address.invalid && CTShipToInformation_Address.touched}">
                        <div *ngIf="CTShipToInformation_Address.invalid && CTShipToInformation_Address.touched" style="color: red">
                            This field is required
                        </div>  
                    </div>

                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_City" class="form-label" name="CTShipToInformation_City" id="CTShipToInformation_City">{{ 'create_new_order.label_City' | translate }}</label>
                        <input type="text" class="form-control" name="CTShipToInformation_City" id="CTShipToInformation_City" 
                        #CTShipToInformation_City="ngModel" [(ngModel)]="order.CTShipToInformation_City" required
                        [ngClass]="{'is-invalid': CTShipToInformation_City.invalid && CTShipToInformation_City.touched}">
                        <div *ngIf="CTShipToInformation_City.invalid && CTShipToInformation_City.touched" style="color: red">
                            This field is required
                        </div> 
                    </div>

                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_State" class="form-label" name="CTShipToInformation_State" id="CTShipToInformation_State">{{ 'create_new_order.label_State' | translate }}</label>
                        <select class="form-select" id="CTShipToInformation_State" name="CTShipToInformation_State" [(ngModel)]="order.CTShipToInformation_State"
                        #CTShipToInformation_State="ngModel" [ngClass]="{'is-invalid': CTShipToInformation_State.invalid && CTShipToInformation_State.touched}" required>
                            <option value="" disabled selected>-- Select a State --</option>
                            <option *ngFor="let state of allStates" [value]="state.StateName">{{ state.StateName}}</option>
                        </select>
                        <!-- <input type="text" class="form-control" name="CTShipToInformation_State" id="CTShipToInformation_State" 
                        #CTShipToInformation_State="ngModel" [(ngModel)]="order.CTShipToInformation_State" required
                        [ngClass]="{'is-invalid': CTShipToInformation_State.invalid && CTShipToInformation_State.touched}"> -->
                        <div *ngIf="CTShipToInformation_State.invalid && CTShipToInformation_State.touched" style="color: red">
                            This field is required
                        </div> 
                    </div>

                    <div class="form-group mb-3">
                        <label for="zip" class="form-label" name="CTShipToInformation_ZipCode" id="CTShipToInformation_ZipCode">{{ 'create_new_order.label_Zip' | translate }}</label>
                        <input type="text" class="form-control" name="CTShipToInformation_ZipCode" id="CTShipToInformation_ZipCode" 
                        #CTShipToInformation_ZipCode="ngModel" [(ngModel)]="order.CTShipToInformation_ZipCode" required
                        [ngClass]="{'is-invalid': CTShipToInformation_ZipCode.invalid && CTShipToInformation_ZipCode.touched}">
                        <div *ngIf="CTShipToInformation_ZipCode.invalid && CTShipToInformation_ZipCode.touched" style="color: red">
                            This field is required
                        </div> 
                    </div>

                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_Country" class="form-label" name="CTShipToInformation_Country" id="CTShipToInformation_Country">{{ 'create_new_order.label_Country' | translate }}</label>
                        <select class="form-select" id="CTShipToInformation_Country" name="CTShipToInformation_Country" [(ngModel)]="order.CTShipToInformation_Country"
                        #CTShipToInformation_Country="ngModel" [ngClass]="{'is-invalid': CTShipToInformation_Country.invalid && CTShipToInformation_Country.touched}" required>
                            <option value="" disabled selected>-- Select a Country --</option>
                            <option *ngFor="let country of allCountries" [value]="country.CountryName">{{country.CountryName}}</option>
                        </select>
                        <!-- <input type="text" class="form-control" name="CTShipToInformation_Country" id="CTShipToInformation_Country" 
                        #CTShipToInformation_Country="ngModel" [(ngModel)]="order.CTShipToInformation_Country" required
                        [ngClass]="{'is-invalid': CTShipToInformation_Country.invalid && CTShipToInformation_Country.touched}"> -->
                        <div *ngIf="CTShipToInformation_Country.invalid && CTShipToInformation_Country.touched" style="color: red">
                            This field is required
                        </div> 
                    </div>

                    <div class="form-group mb-3">
                        <label for="telephone" class="form-label" name="CTShipToInformation_Phone" id="CTShipToInformation_Phone">{{ 'create_new_order.label_phone' | translate }}</label>
                        <input type="text" class="form-control" name="CTShipToInformation_Phone" id="CTShipToInformation_Phone" 
                        #CTShipToInformation_Phone="ngModel" [(ngModel)]="order.CTShipToInformation_Phone" required
                        [ngClass]="{'is-invalid': CTShipToInformation_Phone.invalid && CTShipToInformation_Phone.touched}">
                        <div *ngIf="CTShipToInformation_Phone.invalid && CTShipToInformation_Phone.touched" style="color: red">
                            This field is required
                        </div> 
                    </div>
                    <div class="form-group mb-3 hidden__field">
                        <label for="orderType" class="form-label" name="OrderType" id="OrderType">Order Type</label>
                        <input type="text" class="form-control" id="orderType" value="New Order" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- PRODUCTS NEW SECTION -->
    <div class="card mt-4 products_card">
        <div class="card-header p-3">{{ 'create_new_order.PRODUCTS' | translate }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table id="productTable" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>{{ 'create_new_order.label_product_1' | translate }}</th>
                                <th>{{ 'create_new_order.label_product_2' | translate }}</th>
                                <th>{{ 'create_new_order.label_product_3' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of productDetails; let i = index;">
                                <td style="padding-right: 20px; padding-bottom: 20px;">
                                  <input type="text" class="form-control" name="ProductCode{{i}}" [(ngModel)]="product.ProductCode">
                                </td>
                                <td style="padding-right: 20px; padding-bottom: 20px;">
                                  <input type="text" class="form-control" name="ProductDescription{{i}}" [(ngModel)]="product.ProductDescription">
                                </td>
                                <td style="padding-right: 20px; padding-bottom: 20px;">
                                  <input type="text" class="form-control" name="ProductQty{{i}}" [(ngModel)]="product.ProductQty">
                                </td>
                            </tr>
                        </tbody>    
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ASSIGN CUSTOMER SECTION -->
    <div class="card mt-4 assign_customers_card">
        <div class="card-header p-3">{{ 'create_new_order.assign_customer' | translate }}</div>
        <div class="card-body">
            <p>{{ 'create_new_order.label_customer' | translate }}</p>
            <div class="row">
                <div class="col mt-2 form-group">
                    <select class="form-select assign__form__input" id="CTShipToInformation_EmailAddress" name="CTShipToInformation_EmailAddress"
                        [(ngModel)]="order.CTShipToInformation_EmailAddress" required #CTShipToInformation_EmailAddress="ngModel"
                        [ngClass]="{'is-invalid': CTShipToInformation_EmailAddress.invalid && CTShipToInformation_EmailAddress.touched}">
                        <option selected disabled value="">-- Select a Customer --</option>
                        <option *ngFor="let email of customerEmails" [value]="email.EmailAddress">{{email.EmailAddress}}</option>
                    </select>
                    <div *ngIf="CTShipToInformation_EmailAddress.invalid && CTShipToInformation_EmailAddress.touched"
                        style="color: red">
                        This field is required
                    </div>
                </div>  
            </div>
            
            <!-- <button type="button" class="btn btn-primary mt-4" (click)="createOrder()">Create Order</button> -->
            <button type="submit" class="btn btn-primary mt-4" [disabled]="orderForm.invalid">{{ 'create_new_order.create_order-btn' | translate }}</button>
            <!-- <div *ngIf="showSuccessAlert" class="alert alert-success alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                Order created successfully!
            </div> -->
        </div>
    </div>
</form>
</div>