<div class="container">
    <div class="pending__requests mb-4">
        <a href="javascript:void(0)" (click)="goBack()">
            <!-- <img class="chevron" src="../../../assets/images/left-chevron.png" alt=""> -->
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
        </a>
        <h3>ORDER</h3>
    </div>

    <div class="table__container">
        <table class="table" id="example">
            <thead>
              <tr>
                <th>{{ 'welcome.pending_1' | translate }}</th>
                <th>{{ 'welcome.pending_2' | translate }}</th>
                <th>{{ 'welcome.pending_3' | translate }}</th>
                <th>{{ 'welcome.pending_4' | translate }}</th>
                <th>{{ 'welcome.pending_5' | translate }}</th>
                <th>{{ 'welcome.pending_6' | translate }}</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let order of orders">
                <td style="vertical-align:top">{{ order.CTOrderDate | date: 'M-d-yyyy' }}</td>
                <td style="vertical-align:top">{{ order.CTOrderNumber }}</td>
                <td style="vertical-align:top">{{ order.SiteName }}</td>
                <td style="vertical-align:top">
                    <p>{{ order.CTShipToInformation_Name }}</p>
                    <p>{{ order.CTShipToInformation_CompanyName }}</p>
                    <p>{{ order.CTShipToInformation_Address }}</p>
                    <p>{{ order.CTShipToInformation_City }}, {{ order.CTShipToInformation_State }}</p>
                    <p>{{ order.CTShipToInformation_Country }}</p>
                </td>
                <td style="vertical-align:top">{{ order.Status }}</td>
                <td style="padding-left: 0; padding-right: 0;">
                    <div class="actions">
                        <div class="action_1">
                            <div class="tooltip-container" id="View">
                                <div class="tooltip">{{ 'allOrders.tooltip_View' | translate }}</div>
                                <div style="padding: .3em .5em" class="action_item" (click)="navigateToViewOrder(order.OrderID)">
                                    <img style="height: 15px; margin-right: 0px; cursor: pointer;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-view.png" />
                                    <!-- <span>View</span> -->
                                </div>
                            </div>
                            <div class="tooltip-container" id="Print">
                                <div class="tooltip">{{ 'allOrders.tooltip_Print' | translate }}</div>
                                <div style="padding: .3em .6em;" class="action_item" (click)="printOrder(order.OrderID)">
                                    <img style="height: 18px; margin-right: 0px; cursor: pointer;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-print.png" />
                                </div>
                            </div>
                            <!-- <div class="tooltip-container" id="Repeat" *ngIf="SecurityLevel==1 || SecurityLevel==2 && SecurityLevel == 5 || order.StatusId!='Complete'"> -->
                            <div class="tooltip-container" id="Repeat" *ngIf="(SecurityLevel==1 || SecurityLevel==2 || SecurityLevel == 5) && SecurityLevel != 3 && order.StatusId!='Complete'">
                                <div class="tooltip">{{ 'allOrders.tooltip_Repeat' | translate }}</div>
                                <div style="padding: .3em .5em" class="action_item" (click)="navigateToRepeatOrder(order.OrderID)">
                                <img style="height: 20px; margin-right: 0px; cursor: pointer;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-repeat.png" />
                                </div>
                            </div>
                            <!-- <div class="tooltip-container" id="Edit" [ngClass]="{'disabled-action': order.StatusId!='Complete'}" *ngIf="order.StatusId!='Complete'"> -->
                            <div class="tooltip-container" id="Edit" *ngIf="SecurityLevel != 4 && SecurityLevel != 3" [ngClass]="{'disabled-action': order.Status ==='Complete' || order.Status === 'Order Being Processed'}">
                                <div class="tooltip">{{ 'allOrders.tooltip_Edit' | translate }}</div>
                                <div style="padding: .3em .5em"  class="action_item" (click)="navigateToEditOrder(order.OrderID)">
                                    <img style="height: 20px; margin-right: 0px; cursor: pointer;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-editt.png" />
                                </div>
                            </div>
                        </div>
                        <div class="action_3" >
                            <span>{{ 'allOrders.tooltip_Artwork' | translate }}</span>
                                <!-- <div class="tooltip-container" id="ArtworkUpload" [ngClass]="{'disabled-action': order.varAllowLogoUpload==1}" *ngIf="order.varAllowLogoUpload==1"> -->
                                <div class="tooltip-container" id="ArtworkUpload" [ngClass]="{'disabled-action': order.varAllowLogoUpload!==1 }">
                                <div class="tooltip-container" id="ArtworkUpload">
                                    <div class="tooltip">{{ 'allOrders.tooltip_Upload' | translate }}</div>
                                    <div style="padding: .3em .5em" class="action_item" (click)="uploadArtwork(order.OrderID)" >
                                    <img style="height: 23px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-upload.png" />
                                </div>
                            </div>
                            </div>    
                            <!-- <div class="tooltip-container" id="ArtworkDownload" [ngClass]="{'disabled-action': order.ArtworkIDNew!=''}" *ngIf="order.ArtworkIDNew!=''" > -->
                            <!-- <div class="tooltip-container" id="ArtworkDownload" [ngClass]="{'disabled-action': order.ArtworkIDNew==='' || (order.Status !== 'Order Being Processed' || order.Status !== 'Pending Artwork Upload by Customer') && order.Status !== 'Artwork is being reviewed by vendor' }"> -->
                            <div class="tooltip-container" id="ArtworkDownload" *ngIf="order.ArtworkIDNew!='' && isDownloadable(order.Status)" [ngClass]="{'disabled-action': order.Status === 'Pending Artwork Upload by Customer'}">
                            <div class="tooltip-container" id="ArtworkDownload">
                                <div class="tooltip">{{ 'allOrders.tooltip_Download' | translate }}</div>
                                <div style="padding: .3em .5em" class="action_item" (click)="downloadArtwork(order.OrderID)">
                                    <img style="height: 23px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-download.png" />
                                </div>
                            </div>  
                            </div>
                            <!-- <div class="tooltip-container" id="ArtworkDownload" [ngClass]="{ 'disabled-action': order.ArtworkIDNew!='' && order.varAllowArtworkReview==1 }" *ngIf="order.ArtworkIDNew!='' && order.varAllowArtworkReview==1" > -->
                            <div class="tooltip-container" id="ArtworkReview" *ngIf="SecurityLevel == 3" [ngClass]="{ 'disabled-action': order.ArtworkIDNew==='' && order.varAllowArtworkReview!=1 || order.Status === 'Complete' || order.Status === 'Pending Artwork Upload by Customer' || order.Status === 'Proof is being reviewed by customer' || order.Status == 'Order Being Processed' || (SecurityLevel == 3 && order.Status == 'Order Being Processed') }">
                                <div class="tooltip">{{ 'allOrders.tooltip_Review' | translate }}</div>
                                <div style="padding: .3em .4em" class="action_item" (click)="ReviewArtwork(order.OrderID,order.ArtworkIDNew)">
                                    <img style="height: 23px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-review-button.png" />
                                </div>
                            </div>      
                        </div>
                        <div class="action_4">
                            <span>{{ 'allOrders.tooltip_Proof' | translate }}</span>
                            <!-- <div class="tooltip-container" id="ProofUpload" [ngClass]="{'disabled-action': order.varAllowProofUpload !== 1}" *ngIf="order.varAllowProofUpload==1"> -->
                            <div class="tooltip-container" id="ProofUpload"
                                [ngClass]="{'disabled-action': order.varAllowProofUpload !== 1 || (order.Status == 'Artwork is being reviewed by vendor' && SecurityLevel == 4) }">
                                <div class="tooltip">{{ 'allOrders.tooltip_Upload' | translate }}</div>
                                <div style="padding: .3em .5em" class="action_item" (click)="navigateToUploadProof(order.OrderID)">
                                    <img style="height: 23px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-upload.png" />
                                </div>
                            </div>    
                            <!-- <div class="tooltip-container" id="ProofDownload" [ngClass]="{'disabled-action': order.ProofIDNew!=''} *ngIf="order.ProofIDNew!=''" > -->
                            <div class="tooltip-container" id="ProofDownload" [ngClass]="{'disabled-action': order.ProofIDNew==='' && order.Status !== 'Order Being Processed' && order.Status !== 'Complete'  }">
                                <div class="tooltip">{{ 'allOrders.tooltip_Download' | translate }}</div>
                                <div style="padding: .3em .5em" class="action_item" (click)="downloadProof(order.OrderID)">
                                    <img style="height: 23px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-download.png" />
                                </div>
                            </div> 
                            <!-- <div class="tooltip-container" id="ArtworkDownload" [ngClass]="{'disabled-action': order.varAllowProofReview==1}" *ngIf="order.varAllowProofReview==1" > -->
                            <div class="tooltip-container" id="ArtworkReview" *ngIf="SecurityLevel == 1 || SecurityLevel == 2 || SecurityLevel == 4 && order.varAllowProofReview==1 "  [ngClass]="{'disabled-action': order.varAllowProofReview!==1}">
                                <div class="tooltip">{{ 'allOrders.tooltip_Review' | translate }}</div>
                                <div style="padding: .3em .4em" class="action_item" (click)="navigateToreviewProof(order.OrderID,order.ProofIDNew)">
                                    <img style="height: 23px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-review-button.png" />
                                    <!-- <span>Download</span> -->
                                </div>
                            </div> 
                     
                        </div>
                        <div class="action_5" *ngIf="SecurityLevel==1 || SecurityLevel==2">
                            <span>{{ 'allOrders.tooltip_Admin' | translate }} :</span>
                            <!-- <div class="tooltip-container" id="ResetOrderStatus" *ngIf="order.varAllowChangeStatus==1"> -->
                            <div class="tooltip-container" id="ResetOrderStatus" [ngClass]="{'disabled-action': order.varAllowChangeStatus==1}">
                                <div class="tooltip">{{ 'allOrders.tooltip_ResetStatus' | translate }}</div>
                                <div style="padding: .3em .5em" class="action_item"  (click)="navigateToResetOrderStatus(order.OrderID)">
                                    <img style="height: 25px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-reset-order.png" />
                                </div>
                            </div>    
                            <div class="tooltip-container" id="Delete">
                                <div class="tooltip">{{ 'allOrders.tooltip_Delete' | translate }}</div>
                                <div style="padding: .3em" class="action_item" (click)="confirmDeleteOrder(order.OrderID, order.CTOrderNumber)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <img style="height: 24px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-delete.png" />
                                </div>
                            </div>    
                        </div>
                        <div class="action_5" *ngIf="SecurityLevel==5">
                            <span>{{ 'allOrders.tooltip_CustomerService' | translate }}</span>
                            <div class="tooltip-container" id="CSDelete">
                                <div class="tooltip">{{ 'allOrders.tooltip_Delete' | translate }}</div>
                                <div class="action_item">
                                <img style="height: 20px; margin-right: 2px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-delete.png" />
                                <!-- <span>Delete</span> -->
                                </div>
                            </div>    
                            <div class="tooltip-container" id="ResetOrderStatus" *ngIf="order.varAllowChangeStatus==1">
                                <div class="tooltip">{{ 'allOrders.tooltip_ResetStatus' | translate }}</div>
                                <div class="action_item" (click)="navigateToResetOrderStatus(order.OrderID)">
                                    <img style="height: 20px; margin-right: 2px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-reset-order.png" />
                                    <!-- <span>Reset Order Status</span> -->
                                </div>
                            </div>    
                        </div>
                        <!-- <div class="action_6" *ngIf="order.StatusId!='Complete' && order.StatusId!='Pending Artwork Upload by Customer'"> -->
                        <div class="action_6" *ngIf="SecurityLevel == 3 && order.Status === 'Order Being Processed'">
                            <span>{{ 'allOrders.tooltip_Shipping' | translate }}</span>
                            <div class="tooltip-container" id="updateShippingDate" [ngClass]="{'disabled-action': order.Status === 'Complete' || order.Status ==='Pending Artwork Upload by Customer' }">
                                <div class="tooltip">{{ 'allOrders.tooltip_ShippingUpdate' | translate }}</div>
                                <div style="padding: .3em .5em .4em .5em;" class="action_item" (click)="navigateToUpdateOrderStatus(order.OrderID)">
                                <img style="height: 20px; margin-right: 0px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-update-shipping-date.png" />
                                </div>
                            </div> 
                        </div>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>      



</div>
