<div>
    
    <!-- Display loading or other content while validating SSO -->
    <div *ngIf="loading">Validating SSO...</div>
    <!-- Display the result of SSO validation -->
    <div *ngIf="message">{{ message }}</div>
  
</div>