<main>
    <div class="bg-image"></div>
        <div class="landing-box">
            <h1>{{ 'landing.title' | translate }}</h1>
            <p>{{ 'landing.sub_title' | translate }}</p>
                <div class="btns-landing">
                    <button class="btn-ct" routerLink="/login">{{ 'landing.button_1' | translate }}</button>
                    <button class="btn-sg" (click)="navigateToSsoPage()">{{ 'landing.button_2' | translate }}</button>
                    <!-- (click)="navigateToSsoPage()" -->
                </div>
        </div>
</main>

<section class="benefits">
    <h3 class="text-center benefits__main_text">{{ 'landing.feature_main_heading' | translate }}</h3>
    <div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header d-flex p-3">
                    <img style="height: 30px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/ux-icon.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ 'landing.feature_1' | translate }}</h5>
                  <p class="card-text">{{ 'landing.feature_1_content' | translate }}</p>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header d-flex p-3">
                    <img style="height: 30px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/navigation-icon.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ 'landing.feature_2' | translate }}</h5>
                  <p class="card-text">{{ 'landing.feature_2_content' | translate }}</p>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header d-flex p-3">
                    <img style="height: 30px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/dashboard-icon.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ 'landing.feature_3' | translate }}</h5>
                  <p class="card-text">{{ 'landing.feature_3_content' | translate }}</p>
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header d-flex p-3">
                    <img style="height: 30px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/security-icon.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ 'landing.feature_4' | translate }}</h5>
                  <p class="card-text">{{ 'landing.feature_4_content' | translate }}</p>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header d-flex p-3">
                    <img style="height: 30px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/add-site-icon.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ 'landing.feature_5' | translate }}</h5>
                  <p class="card-text">{{ 'landing.feature_5_content' | translate }}</p>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header d-flex p-3">
                    <img style="height: 30px;" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/order-icon.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ 'landing.feature_6' | translate }}</h5>
                  <p class="card-text">{{ 'landing.feature_6_content' | translate }}</p>
                </div>
              </div>
        </div>
    </div>
    </div>
</section>