* {
    font-family: gotham,"Helvetica","Arial",sans-serif;
}

main {
    height: 100vh;
    background: url('../../../assets/MicrosoftTeams-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.benefits__main_text {
    font-size: 32px;
}

.landing-box {
    width: 500px;
    text-align: center;
    padding: 2rem;
    border-radius: .3em;
    /* background: rgba(255, 255, 255, 0.791); */
    background: rgba(255, 255, 255, 0.88);
    border: 2px solid #fff;
    box-shadow: 0px 17px 24.3px 0px rgba(0, 0, 0, 0.07);
}

.landing-box h1 {
    font-size: 40px;
    font-weight: 600;
}

.landing-box p {
    font-size: 18px;
}

.btns-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

button {
    font-weight: 600;
    width: 100%;
    padding: .7em;
    background: #005EB8;
    color: white;
    border: 2px solid #014e96;
    border-radius: .3em;
}

.btn-ct:hover {
    background: #014e96;
}

.btn-sg {
    background: white;
    color: #005EB8;
    transition: all 0.2s ease-in;
}

.btn-sg:hover {
    background: #005EB8;
    color: white;
}

/* .card {
    background: #fcfaf7;
} */
.card-header {
    background: none;
    border-bottom: none;
}

.benefits .card {
    border: none;
}

.benefits .card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.benefits .card-body {
    padding-top: 0;
}

/* Mobileonly screen  */
@media(max-width: 480px) {
    main {
        height: 55vh;
    }
    
    .benefits {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    .landing-box {
        width: 380px;
    }
    
    .landing-box h1 {
        font-size: 28px;
        font-weight: 600;
    }
    
    .landing-box p {
        font-size: 14px;
    }
    .btn {
        /* margin-top: 1em; */
        width: 100%;
    }
    .benefits__main_text {
        font-size: 20px;
    }
   } 

   @media(max-width: 380px) {
    .landing-box {
        width: 350px;
    }
   }

   @media(min-width: 480px) and (max-width: 576px) {
    main {
        height: 70vh;
    }
    .landing-box {
        width: 400px;
    }
    .landing-box h1 {
        font-size: 24px;
        font-weight: 600;
    }
    .landing-box p {
        font-size: 14px;
    }
    .benefits__main_text {
        font-size: 24px;
    }
   }

   @media(min-width: 1200px) and (max-width: 1400px) {
    main {
        height: 70vh;
    }
    .landing-box {
        width: 750px;
    }
    .landing-box h1 {
        font-size: 32px;
    }
    .landing-box p {
        font-size: 24px;
    }
   }

   @media(min-width: 1400px) {
    main {
        height: 70vh;
    }
    .landing-box {
        width: 750px;
    }
    .landing-box h1 {
        font-size: 32px;
    }
    .landing-box p {
        font-size: 24px;
    }
   }