<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 32px;">View Order</h3> -->
    <div class="pending__requests mb-4">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
        </a>
        <h3>{{ 'create_new_order.label_view_order' | translate }}</h3>
    </div>
    <div class="row mt-4" *ngIf="orderDetails">
        <div class="col-md">
            <div class="card space__card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">{{ 'create_new_order.order_info' | translate }}</div>
                <div class="card-body">
                    <div class="form-group mb-3" *ngIf="selectedSite">
                        <label for="SiteName" class="form-label">{{ 'create_new_order.label_site' | translate }}</label>
                        <input type="text" class="form-control" id="SiteName" name="SiteName" value="{{ selectedSite[0].SiteName }}" aria-describedby="SiteNameHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTOrderNumber" class="form-label">{{ 'create_new_order.label_Order_Number' | translate }}</label>
                        <input type="text" class="form-control" id="CTOrderNumber" name="CTOrderNumber" value="{{ orderDetails[0].CTOrderNumber }}" aria-describedby="CTOrderNumberHelp" disabled readonly>
                        <p *ngIf="orderDetails[0].RepeatOrderComment !== null">
                            ({{ 'create_new_order.label_repeat_order_comment' | translate }} #{{ orderDetails[0].RepeatOrderComment }})
                          </p>
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTPONumber" class="form-label">{{ 'create_new_order.label_PO_Number' | translate }}</label>
                        <input type="text" class="form-control" id="CTPONumber" name="CTPONumber" value="{{ orderDetails[0].CTPONumber }}" aria-describedby="CTPONumberHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTOrderDate" class="form-label">{{ 'create_new_order.label_Order_date' | translate }}</label>
                        <input type="text" class="form-control" id="CTOrderDate" [value]="formatDate(orderDetails[0].CTOrderDate)" aria-describedby="CTOrderDateHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="anticipatedCompletionDate" class="form-label">{{ 'create_new_order.label_anticipated' | translate }}</label>
                        <input type="text" class="form-control" id="anticipatedCompletionDate" value="---" aria-describedby="anticipatedCompletionDateHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3" *ngIf="orderStatus">
                        <label for="orderStatus" class="form-label">{{ 'create_new_order.label_order_status' | translate }}</label>
                        <p><b>{{ orderStatus[0].Status }}</b></p>
                            <!-- <a class="order-status-link" (click)="redirectToUploadArtwork(orderDetails[0].OrderID)">
                                {{ orderStatus[0].Status }}
                            </a> -->
                    </div>
                    <div class="form-group mb-3">
                        <label for="EnteredBy" class="form-label">{{ 'create_new_order.label_entered_by' | translate }}</label>
                        <input type="text" class="form-control" id="EnteredBy" value="{{ orderDetails[0].EnteredBy }}" aria-describedby="EnteredByByHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="lastUpdated" class="form-label">{{ 'create_new_order.label_last_updated' | translate }}</label>
                        <input type="text" class="form-control" id="lastUpdated" value="27/02/2024" aria-describedby="lastUpdatedHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="artworkFile" class="form-label">{{ 'create_new_order.label_Artwork' | translate }}</label>
                        <p>
                            <a class="order-status-link" *ngIf="orderDetails[0]?.ArtworkID" (click)="downloadArtwork(orderDetails[0].OrderID)">
                                {{ 'create_new_order.label_download_artwork_link' | translate }}
                            </a>
                            <span *ngIf="!orderDetails[0]?.ArtworkID">
                                <input type="text" class="form-control" id="latestArtwork" value="(pending upload artwork)" aria-describedby="latestArtworkHelp" disabled readonly>
                            </span>
                        </p>
                        <!-- <input type="text" class="form-control" id="artworkFile" value="(pending upload by client)" aria-describedby="artworkFileHelp" disabled readonly> -->
                    </div>
                    <div class="form-group mb-3">
                        <label for="latestProof" class="form-label">{{ 'create_new_order.label_latest_proof' | translate }}</label>
                        <p>
                            <a class="order-status-link" *ngIf="orderDetails[0]?.ProofID" (click)="downloadProof(orderDetails[0].OrderID)">
                                {{ 'create_new_order.label_download_proof_link' | translate }}
                            </a>
                            <span *ngIf="!orderDetails[0]?.ProofID">
                                <input type="text" class="form-control" id="latestProof" value="(pending upload by vendor)" aria-describedby="latestProofHelp" disabled readonly>
                            </span>
                        </p>
                        <!-- <input type="text" class="form-control" id="latestProof" value="(pending upload by vendor)" aria-describedby="latestProofHelp" disabled readonly> -->
                    </div>
                    <div class="form-group mb-3">
                        <label for="orderType" class="form-label">{{ 'create_new_order.label_Order_Type' | translate }}</label>
                        <input type="text" class="form-control" id="orderType" value="New Order" aria-describedby="packaged" disabled readonly>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- SHIPPINGGGG -->
        <div class="col-md">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">{{ 'create_new_order.shipping_info' | translate }}</div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="orderBy" class="form-label">{{ 'create_new_order.label_OrderBy' | translate }}</label>
                        <input type="text" class="form-control" id="orderBy" value="tauhid" aria-describedby="orderByHelp" disabled readonly>

                    </div>
                    <div class="form-group mb-3">
                        <label for="shipTo" class="form-label">{{ 'create_new_order.label_ShipTo' | translate }}</label>
                        <input type="text" class="form-control" id="shipTo" value="{{ orderDetails[0].CTShipToInformation_Name }}" aria-describedby="shipToHelp" disabled readonly>

                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_CompanyName" class="form-label">{{ 'create_new_order.label_Company' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_CompanyName" value="{{ orderDetails[0].CTShipToInformation_CompanyName }}" aria-describedby="CTShipToInformation_CompanyNameHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_AccountNumber" class="form-label">{{ 'create_new_order.label_Contact' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_AccountNumber" value="{{ orderDetails[0].CTShipToInformation_AccountNumber }}" aria-describedby="CTShipToInformation_AccountNumberHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_Address" class="form-label">{{ 'create_new_order.label_Address' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_Address" value="{{ orderDetails[0].CTShipToInformation_Address }}" aria-describedby="CTShipToInformation_AddressHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="city" class="form-label">{{ 'create_new_order.label_City' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_City" value="{{ orderDetails[0].CTShipToInformation_City }}" aria-describedby="CTShipToInformation_CityHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_State" class="form-label">{{ 'create_new_order.label_State' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_State" value="{{ orderDetails[0].CTShipToInformation_State }}" aria-describedby="CTShipToInformation_StateHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_ZipCode" class="form-label">{{ 'create_new_order.label_Zip' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_ZipCode" value="{{ orderDetails[0].CTShipToInformation_ZipCode }}" aria-describedby="CTShipToInformation_ZipCodeHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_Country" class="form-label">{{ 'create_new_order.label_Country' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_Country" value="{{ orderDetails[0].CTShipToInformation_Country }}" aria-describedby="CTShipToInformation_CountryHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_Phone" class="form-label">{{ 'create_new_order.label_phone' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_Phone" value="{{ orderDetails[0].CTShipToInformation_Phone }}" aria-describedby="CTShipToInformation_PhoneHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3 hidden__field">
                        <label for="telephone" class="form-label">Telephone</label>
                        <label for="telephone" class="form-label">Telephone</label>
                        <!-- <input type="text" class="form-control" id="telephone" aria-describedby="telephoneHelp" disabled readonly> -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- PRODUCTS NEW SECTION -->
    <div class="card mt-4 products_card">
        <div class="card-header p-3">{{ 'create_new_order.PRODUCTS' | translate }}</div>
        <div class="card-body" style="padding: 0;">
            <div class="row">
                <div class="col">
                    <div class="table__container">
                    <table class="table table-striped" id="productTable" style="width: 100%;">
                        <thead>
                            <tr style="border-bottom: 2px solid #000;">
                                <th>{{ 'create_new_order.label_product_1' | translate }}</th>
                                <th>{{ 'create_new_order.label_product_2' | translate }}</th>
                                <th>{{ 'create_new_order.label_product_3' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of orderProductDetails; let i = index;">
                                <td>{{ product.ProductCode }}</td>
                                    <!-- <input type="text" class="form-control" value="{{ product.ProductCode }}" disabled readonly>
                                </td> -->
                                <td>{{ product.ProductDescription }}</td>
                                    <!-- <input type="text" class="form-control" value="{{ product.ProductDescription }}" disabled readonly>
                                </td> -->
                                <td>{{ product.ProductQty }}</td>
                                    <!-- <input type="text" class="form-control" value="{{ product.ProductQty }}" disabled readonly>
                                </td> -->
                            </tr>
                        </tbody>    
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!-- ASSIGN CUSTOMER SECTION -->
    <div class="card mt-4 assign_customers_card" *ngIf="selectedCustomer && selectedCustomer.length > 0">
        <div class="card-header p-3">{{ 'create_new_order.assign_customer' | translate }}</div>
        <div class="card-body" style="padding: 0;">
            <div class="table__container">
                <table class="table table-striped" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>{{ 'create_new_order.label_name' | translate }}</th>
                            <th>{{ 'USERS.create_user_title_3' | translate }} {{ 'USERS.create_user_title_8' | translate }}</th>
                            <!-- <th>Additional Approver</th> -->
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>{{ selectedCustomer[0]?.FullName }}</td>
                            <td>{{ selectedCustomer[0]?.EmailAddress }}</td>
                            <!-- <td>--- </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="row">
                <div class="col mt-2">
                    <p style="margin-bottom: .3em;">Name</p> 
                    <input type="text" class="form-control" name="" id="" value="{{ selectedCustomer[0]?.FullName }}" disabled readonly>
                </div>
                <div class="col mt-2">
                    <p style="margin-bottom: .3em;">Email Address</p>
                    <input type="text" class="form-control" name="" id="" value="{{ selectedCustomer[0]?.EmailAddress }}" disabled readonly>
                </div>
            </div> -->
        </div>
    </div>    
    
    <!-- ORDER HISTORY SECTION -->
    <div class="card mt-4 assign_customers_card">
        <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">{{'logs.log_OrderHistory' | translate }}</div>
        <div class="card-body" style="padding: 0;">
            <div class="table__container">
                <table class="table" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>{{'logs.log_DateEntered' | translate }}</th>
                            <th>{{'logs.log_User' | translate }}</th>
                            <th>{{'logs.log_ChangeType' | translate }}</th>
                            <th>{{'logs.log_ChangeDetail' | translate }}</th>
                            <th>{{'logs.log_Comments' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let log of LogDetails">
                            <td>{{ log.DateEntered }}</td>  
                            <td>{{ log.FullName }}</td>  
                            <td>{{ log.ActionType}}</td>  
                            <td>{{ log.ActionDescription }}</td>  
                            <td>{{ log.Comments }}</td>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
