<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">ALL ORDERS</h3> -->
    <div class="pending__requests mb-2">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
          </a>
        <h3>{{ 'create_new_order.review_artwork_header' | translate }}</h3>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-3">
                    {{ 'create_new_order.review_artwork_title' | translate }} #{{ OrderName }}
                </div>
                <div class="card-body">
                    <p>{{ 'create_new_order.review_artwork_1' | translate }}</p>
                    
                    <p style="font-weight: 500; margin-bottom: 0em;">{{ 'create_new_order.review_artwork_2' | translate }}</p>
                    <p><a href="javascript:void(0);" (click)="downloadArtwork()">Click</a> {{ 'create_new_order.review_artwork_3' | translate }}</p>
                    
                    <p style="font-weight: 500; margin-bottom: 1em;">(PMS COLORS:  <span style="text-decoration: underline;">{{ pmsColors }}</span>)</p>
                    
                    <p style="font-weight: 500; margin-bottom: 0em;">{{ 'create_new_order.review_artwork_4' | translate }}</p>
                    <p><a href="javascript:void(0);" (click)="navigateToUploadProof()">Click</a> {{ 'create_new_order.review_artwork_5' | translate }}</p>
                    
                    <p style="font-weight: 500; margin-bottom: 0em;">{{ 'create_new_order.review_artwork_6' | translate }}</p>
                    <p>{{ 'create_new_order.review_artwork_7' | translate }}</p>
                    
                    <p style="font-weight: 500; margin-bottom: .2em;">
                        {{ 'create_new_order.review_artwork_8' | translate }}<br/>
                        {{ 'create_new_order.review_artwork_9' | translate }} <span style="color: #005EB8; font-weight: 600;">{{ 'create_new_order.review_artwork_btn' | translate }}</span> {{ 'create_new_order.review_artwork_10' | translate }}</p>
                    
                    <label class="mt-3 mb-2" for="rejected">{{ 'create_new_order.review_artwork_11' | translate }}</label>
                    <textarea style="resize: none;" class="form-control mb-3" id="exampleFormControlTextarea1" rows="5" placeholder="Write something here ..." [(ngModel)]="str"></textarea>
                    <button type="button" (click)="ArtworkReject()" class="btn btn-primary mt-1">{{ 'create_new_order.review_artwork_btn' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    
</div>           