<div class="page-wrapper">
    <div class="sticky-header">
        <app-header></app-header>
    </div>

    <div class="content-wrapper">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <app-footer></app-footer>  
        </div>
    </div>
</div>