<!-- <div class="container">
    <div class="col d-flex justify-content-center">
        <div class="card">
            <h2>Email Verification</h2>
            <p>To receive a verification email, please enter your email below</p>
            <label id="email" for="emailId" class="form-required mb-2">Email</label>
            <input name="email" class="form-control mb-4" id="password" placeholder="eg: johndoe@saint-gobain.com" required/>
            <a id="save" class="btn-submit">Continue</a>
        </div>
    </div>
</div> -->


<div class="container">

    <div class="card mx-auto" style="max-width: 25rem;">
        <div class="card-header d-flex p-3">
            <img style="height: 25px; margin: 0 auto;" src="../../../assets/sg-ct-logo.svg" alt="">
        </div>
        <div class="card-body p-4">
            <h5 class="card-title" style="font-weight: 600;">Email Verification</h5>
            <p class="card-text">Please enter your email below, you will receive a verification code on your mail.</p>
            <label id="otp" for="otp" class="form-required mb-2">Email</label>
            <input type="text" name="email" class="form-control mb-4" id="email" placeholder="eg: john.doe@saint-gobain.com" required/>
            <a routerLink="/verifyotp" class="btn-submit w-100">Continue</a>
        </div>
    </div>

</div>