<section class="login-container">
    <div *ngIf="!user" id="okta-login-container"></div>
</section>

<div *ngIf="loading" class="loading_spinner">
    <svg viewBox="25 25 50 50">
        <circle r="20" cy="50" cx="50"></circle>
    </svg>
</div>
