<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">CREATE USER</h3> -->
    <div class="pending__requests mb-2">
       
        <h3>Change Password</h3>
    </div>
    <form #orderForm="ngForm" (ngSubmit)="ChangePassword()">
    <div class="card mt-4 profilee_card">
        <div class="card-header p-3">Login to your account</div>
        <div class="card-body">
            <div *ngIf="showErrorAlert1" class="alert alert-danger alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                Please Enter Password/Confirm Password
            </div>
            <div *ngIf="showErrorAlert2" class="alert alert-danger alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                Password and Confirm password does't match.
            </div>
            <div *ngIf="showErrorAlert3" class="alert alert-danger alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                Password requirements were not met
            </div>
            <div *ngIf="showSuccessAlert" class="alert alert-success alert-dismissible fade show" style="margin-top: 2em;" role="alert">
                Password set Successfully
            </div>
            <div id="message">
                <p style="font-size: medium;"><b>Password must contain the following:</b></p>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>4 characters</b></p>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="NewPassword" class="form-label">New Password</label>
                        <input type="text" class="form-control" id="NewPassword" name="NewPassword" [(ngModel)]="user.NewPassword"
                        #NewPassword="ngModel" required [ngClass]="{'is-invalid': NewPassword.invalid && NewPassword.touched}">
                        <div *ngIf="NewPassword.invalid && NewPassword.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                        <input type="text" class="form-control" id="ConfirmPassword" name="ConfirmPassword" [(ngModel)]="user.ConfirmPassword" 
                        #ConfirmPassword="ngModel" required [ngClass]="{'is-invalid': ConfirmPassword.invalid && ConfirmPassword.touched}">
                        <div *ngIf="ConfirmPassword.invalid && ConfirmPassword.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" id="create" class="btn btn-primary mt-4" [disabled]="orderForm.invalid">Submit</button>
        </div>
    </div>
    </form>
</div>