<div class="container">

    <div class="pending__requests mb-4">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
        </a>
        <h3>{{'reports.reports_title_5' | translate }}</h3>
    </div>

    <div class="table__container">
        <table id="ordersDataTable" class="table">
            <thead>
                <tr>
                    <th>{{ 'logs.log_DateEntered' | translate }}</th>
                    <th>{{ 'logs.log_IPAddress' | translate }}</th>
                    <th>{{ 'logs.log_OrderNumber' | translate }}</th>
                    <th>{{ 'logs.log_Browser' | translate }}</th>
                    <th>{{ 'logs.log_ChangeType' | translate }}</th>
                    <th>{{ 'logs.log_ChangeDetail' | translate }}</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let log of LogDetails">
                        <td>{{ log.DateEntered }}</td>  
                        <td>{{ log.IPAddress }}</td>  
                        <td 
                            (click)="navigateToViewOrder(log.OrderID)"
                            style="color: #005EB8; cursor: pointer;"    
                        >
                        {{ log.CTOrderNumber }}</td>  
                        <td>{{ log.BrowserInfo }}</td>  
                        <td>{{ log.ActionType}}</td>  
                        <td>{{ log.ActionDescription }}</td>  
                </tr>
            </tbody>
        </table>
    </div>

</div>


