<div class="container">
    <div class="pending__requests mb-4">
      <div>
        <h3>{{ 'USERS.user_title' | translate }}</h3>
      </div>
      <div>
        <button class="btn-logout" routerLink="/createUser"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"></path>
          </svg>
          {{ 'USERS.user_title_2' | translate }}
        </button>
      </div>
    </div>

    <div class="table__container">
            <table id="example" class="table nowrap" style="width: 100%;">
                <thead>
                  <tr>
                    <th>{{ 'USERS.user_title_3' | translate }}</th>
                    <th>{{ 'USERS.user_title_4' | translate }}</th>
                    <th>{{ 'USERS.user_title_5' | translate }}</th>
                    <th>{{ 'USERS.user_title_6' | translate }}</th>
                    <th>{{ 'USERS.user_title_7' | translate }}</th>
                    <th>{{ 'USERS.user_title_8' | translate }}</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr *ngFor="let user of Users">
                    <td style="vertical-align:top">{{ user.FirstName }}</td>
                    <td style="vertical-align:top">{{ user.LastName }}</td>
                    <td style="vertical-align:top">{{ user.EmailAddress }}</td>
                    <td style="vertical-align:top">{{ user.Status }}</td>
                    <td style="vertical-align:top">{{ user.Role }}</td>
                    <td style="padding-left: 0; padding-right: 0;">
                        <div class="actions">
                            <div class="action_1">
                              <div class="action_item" (click)="EditUser(user.UserID)">
                                <img src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/action-edit.png" style="height: 20px;">
                                  <span>{{ 'USERS.user_btn-edit' | translate }}</span>
                              </div>
                            </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
</div>   