.container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'roboto', sans-serif;
}

/* .card-header {
    background: #005EB8;
} */

.btn {
    font-weight: 700;
    /* padding: .3em 2em; */
    background: #005eb8;
    color: white;
    border: 2px solid #014e96;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}

.actions {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #005eb8;
    /* justify-content: flex-start;
    align-items: center; */
    gap: .5em;
}

.action_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
}
.action_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
}
.action_3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .3em;
}
.action_4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .3em;
}
.action_2 {
    display: flex;
}

.action_item {
    padding: .5em 2em;
    background: #F5F3F0;
    border-radius: .3em;
}

/* tbody tr {
    border-bottom: 2px solid red;
    margin-bottom: 4em;
} */


 .actions__one ul {
    padding-left: 0;
    margin-bottom: .5em;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em; */
}

.actions__one ul li {
    list-style: none;
}

.actions__one ul li a {
    text-decoration: none;
}

.action__item {
    margin-bottom: .5em;
    padding: .1rem 1rem;
    font-weight: 600;
    border-radius: .3rem;
    background: #F5F3F0;
    color: #005eb8;
    cursor: pointer;
}

.action__item span {
    padding-left: .3em;
}


.actions__two {
    /* margin-bottom: 1em; */
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2em;
}

.artwork, .proof {
    background: #F5F3F0;
}

.pending__requests {
    /* margin-top: 2em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: #F5F3F0;
    border-radius: 5px;
}

.pending__requests h3 {
    margin-bottom: 0em;
    color: #005EB8; 
    font-weight: 600; 
    font-size: 24px;
    text-transform: uppercase; 
}

table {
    border-collapse: collapse;
  }
  
  tr {
    margin-bottom: 1em;
    border-bottom: 2px solid #F5F3F0;
  }

.actions span {
    font-size: 12px;
    cursor: pointer;
}

.btn-logout {
    /* margin-top: -31px; */
    /* float: right; */
    /* display: inline-block; */
    /* position: relative; */
    z-index: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0.3rem 2rem;
    /* padding: 10px 22px; */
    font-weight: 700;
    background: #005eb8;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn-logout:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}

.table__container{
    overflow-x: auto;
    max-width: 100%;
    /* border: 1px solid red; */
}

.table {
    /* width: 100%; */
    margin-top: 2em; 
    margin-bottom: 0; 
    /* Set other table styles as needed */
}


/* Mobileonly screen  */
@media(max-width: 480px)  {
    .pending__requests {
        /* border: 1px solid red; */
        margin: 0 20px;
    }
    .pending__requests h3 {
        font-size: 18px;
    }
    .card-header {
        font-size: 16px;
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 8px;
    }
    .col-md {
        margin-bottom: 1em;
    }
    .products_card, .assign_customers_card {
        /* border: 1px solid red; */
        margin: 0 19.5px;
    }
    .hidden__field {
        visibility: visible;
        display: none;
    }
    .table__container{
        margin: 0 15px;
        /* border: 1px solid red; */
    }
    .btn-logout {
        z-index: 1;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        font-family: gotham,"Helvetica","Arial",sans-serif;
        font-size: 12px;
        line-height: 24px;
        padding: 0.3rem .8rem;
        font-weight: 700;
        background: #005eb8;
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.2s box-shadow ease-in-out;
    }
   }

   @media (min-width: 481px) and (max-width: 580px) {
    .pending__requests {
        /* border: 1px solid red; */
        margin: 0 12px;
    }
    .pending__requests h3 {
        font-size: 18px;
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 5px;
    }
    /* .btn-logout {
        margin-top: -30px;
        float: right;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        font-family: gotham,"Helvetica","Arial",sans-serif;
        font-size: 14px;
        line-height: 24px;
        padding: 0.3rem 1rem;
        font-weight: 700;
        background: #005eb8;
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.2s box-shadow ease-in-out;
    } */
   }

   @media(max-width: 365px) {
    .pending__requests {
        padding: 0.5rem;
    }
    .pending__requests h3 {
        font-size: 14px;
    }
    .btn-logout {
        font-size: 10px;
        padding: 0.3rem 0.5rem;
    }
    .btn-logout svg {
        display: none;
    }
}