<div class="container">
    
    <div class="pending__requests mb-2">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
        </a>
        <h3>{{'reports.reports_title_6' | translate }}</h3>
    </div>
    
    <!-- <div class="card"> -->
        <div class="row" style="margin-top: 1em;">
            <div class="col-lg-9 mx-auto">
                <canvas id="barchart"></canvas>
            </div>
        </div>
    <!-- </div> -->
    
</div>