a.BlueLink:link {color:#005EB8;}			/* unvisited link */
a.BlueLink:visited {color:#005EB8;}		/* visited link */
a.BlueLink:hover {color:#005EB8;}		/* mouse over link */
a.BlueLink:active {color:#005EB8;}		/* selected link */ 

/* ############################## GENERAL DOCUMENT ############################  */

 
a.Grey-Link  {
	COLOR: #999999; 
	TEXT-DECORATION: underline;
}

a.White-Link  {
	COLOR: #ffffff; 
	TEXT-DECORATION: underline;
}
a.Blue-Link  {
	COLOR: #397fce; 
	TEXT-DECORATION: underline;
}
a.Blue-Link-Next  {
	COLOR: #397fce; 
	TEXT-DECORATION: underline;
	FONT-WEIGHT: bold;  
}
a.Footer-Link  {
	COLOR: #999999; 
	TEXT-DECORATION: underline;
	FONT-WEIGHT: bold;  
}


/* ############################## BOXES, TEXTAREA, ETC ############################  */
input {
	color: #000000; 
	font-size: 14px;
	border: 1px solid #ced4da;
	padding: 4px;
	}
textarea {
	color: #000000; 
	border: 1px #ccc solid;
}
select {
	color: #000000;
	font-size: 14px;
}
.style2 {
	width: 290px;
}
.style3 {
	width: 78px;
}
.style4 {
	width: 130px;
}
.pagebreakhere {
	page-break-after: always;
} 


input.button, input.submit {
   background-color: #005eb8;
   color: #ffffff;
   padding: 10px;
    -moz-border-radius: 3px;
  -webkit-border-radius: 3px; 
	FONT-WEIGHT: 400; 
}
.forgot-password-pag .btn {
	border: 3px solid #005eb8;
	background-color: #fff;
    border-radius: 0;
    color: #005eb8;
    margin: 0;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.forgot-password-pag .btn:hover{
	border-color: #005eb8;
    background-color: #005eb8;
    color: #fff;
    text-decoration: none;
}

.SectionHeader { font-weight: bold; font-size: 133%; padding-bottom: 20px; }
.CompanyInformation { font-weight: normal; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
.modalBackground { background-color: Gray; filter: alpha(opacity=70); opacity: 0.7; }
.modalPopup	{ background-color: White; text-align: left; }


.btn-primary,.btn-primary:hover,.btn-warning,.btn-warning:hover,.btn-danger,.btn-danger:hover,.btn-success,.btn-success:hover,.btn-info,.btn-info:hover,.btn-inverse,.btn-inverse:hover{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255, 255, 255, 0.75);}
.btn{border-color:#ccc;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn-primary{background-color:#6a9acb;background-image:-moz-linear-gradient(top, #0088cc, #0055cc);background-image:-ms-linear-gradient(top, #0088cc, #0055cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));background-image:-webkit-linear-gradient(top, #0088cc, #0055cc);background-image:-o-linear-gradient(top, #0088cc, #0055cc);background-image:linear-gradient(top, #0088cc, #0055cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);border-color:#0055cc #0055cc #003580;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0055cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{background-color:#6a9acb;*background-color:#004ab3;}
.btn-primary:active,.btn-primary.active{background-color:#004099 \9;}
	td.navhead { background-color: #0079c2; background-image: url('../images/nav/subnav_head.jpg'); background-repeat: no-repeat; padding: 8px 12px 8px 12px; font-family: Arial, Helvetica, sans-serif; font-size: 108%; color: #ffffff; }
	td.navcell { background-color: #c0c2c4; padding: 8px 12px 8px 12px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #0079c2; }
	
.NonPrintable
{
  display: none;
}

td.CompanyAddressHeaderBlue {
    padding: 10px 0;
}
/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
#userwayAccessibilityIcon{
	background: rgb(3, 85, 179) !important;
    top: auto;
    bottom: 13px;
    right: auto;
}
 .home-page .homepage-image-div-height {
      background-image: url("../../Resources/Images/DiamondDeck_1200x460.jpg");
	      height: 420px;
		  position: relative;
		  margin-top: 80px;
      }
.home-page .loginform {
      width: 400px;
      height: 290px;
	  float: right;
      color: #000000;
      background: rgba(255,255,255, .8);
      margin: 80px -17px;
      position: relative;
      border-radius: 15px;
      padding: 25px;
      }
.main-Page .dataTable-input{
	    float: right;
}

#tableid > thead > tr > th:nth-child(1) {
	table-layout: fixed;
	width:140px !important;
  }
  #tableid > thead > tr > th:nth-child(2) {
	table-layout: fixed;
	width:140px !important;
  }
  #tableid > thead > tr > th:nth-child(3) {
	table-layout: fixed;
	width:140px !important;
  }
  #tableid > thead > tr > th:nth-child(4) {
	table-layout: fixed;
	width:180px !important;
  }
  #tableid > thead > tr > th:nth-child(5) {
	table-layout: fixed;
	width:180px !important;
  }
  #tableid > thead > tr > th:nth-child(6) {
	table-layout: fixed;
	width:300px !important;
  }
  
.hp-cards {
	border-bottom: 1px #999999 solid;
	background-color: #ffffff;
	padding: 20px;
}
.cards-info{
	border-right: 1px solid #cccccc;
}
.hp-cards .col-md-4 p{
	font-size: 16px;
    text-align: center;
	padding: 10px 20px;
	line-height: 26px;
}
.hp-cards .img-responsive{
max-width: 120px;
padding-top:18px;
}


/*--------------------------------------------------------------
# Main Page
--------------------------------------------------------------*/
.main-page .dataTable-selector, .dataTable-input{
 border: 2px #ccc solid;
 margin-bottom: 20px;
}
.main-page .dataTable-table{
	font-size: 14px;
}
.main-page .dataTable-top, .dataTable-bottom{
	border-bottom: 1px solid #d9d9d9;
}
.main-page .dataTable-top .dataTable-selector::before{
margin-right:20px;
}

.update-order-status input[type=text] {
	width: 96%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
	border: 1px #ccc solid;
	margin-top: 5px;
	padding: 4px;
}

.my-account-page main form{
	    margin-top: 50px;
}
.my-account-page .card-info-account{
	padding: 5px 0px;
}
.update-order-status #main {
 margin-top: 108px!important;
} 
.forgot-password-page .btn, .reset-password-page .btn{
   width: 150px;
	border: 3px solid #005eb8;
	background-color: #fff;
    border-radius: 0;
    color: #005eb8;
    margin: 0;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.btn:hover{
	border-color: #198754;
    background-color: #198754;
    color: #fff;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
.header .navbar{
padding: 10px;
}
.header .utility .col-xs-12{
     width: 50%;
	 font-size: 12px;
}
.companyLogo {
      text-align:left;
      padding: 15px 10px;
 } 
.header .utility{
padding-left: 10px;
}
.header .navbar-brand{
padding-left: 20px;
}
.home-page .navbar-brand{
padding-left: 0px;
}
.home-page .header .toggle-sidebar-btn{
display:none;
}
.home-page .cards-info{
border:none;
}
.header .toggle-sidebar-btn {
	left: 0px;
    position: absolute;
    padding-bottom: 10px;
}
.home-page .loginform{
	margin: auto;
	float: none;
	margin-top: 75px
}
.main{
	margin-top: 105px!important;
}
.main-page #main, .update-order-status #main, .upload-artwork-page #main {
    margin-top: 72px!important;
}
.main-page .sidebar, .toggle-sidebar-btn{
display:block;
}
.nav-user-menu{
	display:none;
}
.main-page .dataTable-table {
    font-size: 12px;
}
.dataTable-search{
float:none!important;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
.sidebar, .toggle-sidebar-btn{
display:none;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-device-width:992px) {
.hp-cards .text-center {
    min-height: 56px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.forgot-password-page #main, .reset-password-page #main{
    margin-right: 300px;
	margin-left: 300px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 

