<div class="container-fluid">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody><tr>
            <td width="958">&nbsp;
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td width="83%" valign="top" style="padding-left: 15px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td width="27%"><img src="https://www.certainteed.com/themes/custom/certainteed/images/logo.svg" width="250"></td>
                                <td width="73%" align="center" class="CompanyAddressHeader"><font size="4">CertainTeed Roofing Customized HouseWrap Site</font></td>
                                </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                </tr>
                            <tr>
                                <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="2">
                                    <tbody><tr *ngFor="let order of orders">
                                        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2" class="CompanyAddressBody">
                                            <tbody><tr>
                                                <td colspan="2" class="CompanyAddressHeader" style="border-bottom: solid 1px #999999;border-top: solid 1px #999999;">ORDER INFORMATION</td>
                                                </tr>
                                            <tr>
                                                <td width="32%" valign="top"><b>Order Number:</b></td>
                                                <td width="68%" valign="top">{{ order.CTOrderNumber }}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>PO Number:</b></td>
                                                <td valign="top">{{ order.CTPONumber }}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b> Date of Order:</b></td>
                                                <td valign="top">{{ order.CTOrderDate | date:'M/d/yyyy' }}</td>
                                                </tr>
                                            
                                            <tr>
                                                <td valign="top"><b>Completion Ship Date:</b></td>
                                                <td valign="top">{{ order.ActualShipDate | date:'M/d/yyyy' }}</td>
                                                </tr>
                                            
                                            <tr *ngIf="orderStatus">
                                                <td valign="top"><b>Order Status:</b></td>
                                                <td valign="top">{{ orderStatus[0].Status }}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>Entered By:</b></td>
                                                <td valign="top">{{ order.EnteredBy | date:'M/d/yyyy' }}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>Last Updated:</b></td>
                                                <td valign="top">{{ order.DateUpdated }}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>Artwork File:</b></td>
                                                <td valign="top">
                                                    <i>
                                                        <a class="order-status-link" *ngIf="order?.ArtworkID" (click)="downloadArtwork(order.OrderID)">
                                                            Click here to download artwork
                                                        </a>
                                                        <span *ngIf="!order?.ArtworkID">
                                                            <p>(pending upload artwork)</p>
                                                        </span>
                                                    </i>
                                                </td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>View Latest Proof:</b></td>
                                                <td valign="top">
                                                    <i>
                                                        <a class="order-status-link" *ngIf="order?.ProofID" (click)="downloadProof(order.OrderID)">
                                                            Click here to download proof
                                                        </a>
                                                        <span *ngIf="!order.ProofID">
                                                            <p>(pending upload by vendor)</p>
                                                        </span>
                                                    </i></td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>Order Type:</b></td>
                                                <td valign="top">{{ order.OrderType}}</td>
                                                </tr>
                                            </tbody></table></td>
                                        <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2" class="CompanyAddressBody">
                                            <tbody><tr>
                                                <td colspan="2" class="CompanyAddressHeader" style="border-bottom: solid 1px #999999;border-top: solid 1px #999999;">SHIPPING INFORMATION</td>
                                                </tr>
                                            <tr>
                                                <td width="25%" valign="top"><b>Company:</b></td>
                                                <td width="75%" valign="top">{{ order.CTShipToInformation_CompanyName}}
                                                    &nbsp;</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>Contact:</b></td>
                                                <!-- <td valign="top">{{ order.varCTShipToInformation_Name}}</td> -->
                                                <td valign="top">{{ order.CTShipToInformation_Name}}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>Address:</b></td>
                                                <td valign="top">{{ order.CTShipToInformation_Address}}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>City:</b></td>
                                                <td valign="top">{{ order.CTShipToInformation_City}}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>State / Province:</b></td>
                                                <td valign="top">{{ order.CTShipToInformation_State}}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>Zip / Postal Code:</b></td>
                                                <td valign="top">{{ order.CTShipToInformation_ZipCode}}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>Country:</b></td>
                                                <td valign="top">{{ order.CTShipToInformation_Country}}</td>
                                                </tr>
                                            <tr>
                                                <td valign="top"><b>Phone:</b></td>
                                                <td valign="top">{{ order.CTShipToInformation_Phone}}</td>
                                                </tr>
                                            </tbody></table></td>
                                        </tr>
                                    <tr>
                                        <td valign="top">&nbsp;</td>
                                        <td valign="top">&nbsp;</td>
                                        </tr>
                                    <tr>
                                        <td colspan="2" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2" class="CompanyAddressBody">
                                            <tbody><tr>
                                                <td colspan="4" class="CompanyAddressHeader" style="border-bottom: solid 1px #999999;border-top: solid 1px #999999;">PRODUCTS</td>
                                                </tr>
                                            <tr>
                                                <td width="17%"><b>Product Code</b></td>
                                                <td width="53%"><b>Description</b></td>
                                                <td width="15%"><b>Quantity</b></td>
                                                <td width="15%"><b>Reference #</b></td>
                                                </tr>
                                            
                        <tr *ngFor="let orderD of OrderDetails">
                        <td valign="top" nowrap="" style="border-top: thin dotted #cccccc;">{{ orderD.ProductCode}}</td>
                        <td valign="top" style="border-top: thin dotted #cccccc;">{{ orderD.ProductDescription}}</td>
                        <td valign="top" style="border-top: thin dotted #cccccc;">{{ orderD.ProductQty}}</td>
                        <td valign="top" style="border-top: thin dotted #cccccc;"></td>
                        </tr>
                                            
                                            </tbody></table></td>
                                        </tr>
                                    <tr>
                                        <td colspan="2" valign="top">&nbsp;</td>
                                        </tr>
    
                                                            <tr>
                                                                <td colspan="2" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2" class="CompanyAddressBody">
                                                                    <tbody><tr>
                                                                        <td colspan="5" class="CompanyAddressHeader" style="border-bottom: solid 1px #999999;border-top: solid 1px #999999;">ORDER HISTORY</td>
                                                                        </tr>
                                                                    <tr>
                                                                        <td width="12%"><b>Date Entered</b></td>
                                                                        <td width="16%"><b>User</b></td>
                                                                        <td width="15%"><b>Action Type</b></td>
                                                                        <td width="20%"><b>Action Description</b></td>
                                                                        <td width="37%"><b>Comments</b></td>
                                                                        </tr>
                                                                    
                                                                    <tr *ngFor="let log of LogDetails">
                                                                        <td valign="top" nowrap="" style="border-top: thin dotted #cccccc;">{{ log.DateEntered}}
                                                                            &nbsp;</td>
                                                                        <td valign="top" style="border-top: thin dotted #cccccc;">{{ log.FullName}}</td>
                                                                        <td valign="top" style="border-top: thin dotted #cccccc;">{{ log.ActionType}}</td>
                                                                        <td valign="top" style="border-top: thin dotted #cccccc;">{{ log.ActionDescription}}</td>
                                                                        <td valign="top" style="border-top: thin dotted #cccccc;">{{ log.Comments}}</td>
                                                                        </tr>
                                                                    
                                                                    </tbody></table></td>
                                                                </tr>
                                    <tr>
                                        <td colspan="2" valign="top"><br>
                                            <hr></td>
                                        </tr>
                                    <tr>
                                        <td valign="top">©
                                            {{year}}
                                            CertainTeed • Printed {{ currentDate}} {{ currentTime}}</td>
                                        <td valign="top" style="text-align: end;"><a _ngcontent-ynm-c34="" href="#" class="sg-logo"><svg _ngcontent-ynm-c34="" width="111" height="45" viewBox="0 0 111 45" fill="none" xmlns="http://www.w3.org/2000/svg" class="svglogo"><g _ngcontent-ynm-c34="" clip-path="url(#clip0_6298_258185)"><path _ngcontent-ynm-c34="" d="M5.3379 38.8623C3.81802 38.4005 3.14465 38.1312 3.14465 37.2654C3.14465 36.4959 4.18356 36.2265 5.08779 36.2265C5.85735 36.2265 6.70387 36.4574 7.28104 36.8229C7.41571 36.9191 7.58886 36.9384 7.74277 36.8999C7.89668 36.8614 8.03136 36.746 8.08907 36.6113L8.35842 36.1111C8.49309 35.861 8.3969 35.5532 8.16603 35.3993C7.33875 34.8798 6.18441 34.5527 5.12627 34.5527C2.91378 34.5527 1.43238 35.6686 1.43238 37.3232C1.43238 39.4779 3.29856 40.0166 4.77997 40.4399C6.33833 40.9016 7.01169 41.1902 7.01169 42.0944C7.01169 42.9987 5.91507 43.3257 4.8954 43.3257C3.87573 43.3257 2.85607 42.9025 2.1827 42.2291C2.06727 42.1137 1.89412 42.0367 1.72097 42.0752C1.54782 42.0752 1.3939 42.1906 1.29771 42.3445L0.989885 42.8447C0.855212 43.0564 0.89369 43.345 1.08608 43.5181C2.04803 44.4416 3.51019 45.0187 4.87616 45.0187C7.20408 45.0187 8.76244 43.8452 8.76244 42.0944C8.76244 39.8819 6.89626 39.324 5.37638 38.8815" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M15.5542 34.8993C15.4581 34.7069 15.2657 34.5723 15.0348 34.5723H14.4191C14.2075 34.5723 13.9959 34.7069 13.8997 34.8993L9.57092 44.211C9.49397 44.3842 9.51321 44.5765 9.6094 44.7305C9.72483 44.8844 9.89799 44.9806 10.0904 44.9806H10.7253C10.9561 44.9806 11.1485 44.8459 11.2447 44.6535L12.3221 42.3256H17.1703L18.2669 44.6535C18.3631 44.8459 18.5555 44.9806 18.7864 44.9806H19.4213C19.6137 44.9806 19.7868 44.8844 19.9023 44.7305C19.9985 44.5765 20.0177 44.3842 19.9407 44.211L15.5735 34.8993H15.5542ZM13.0724 40.671L14.727 37.0926L16.4008 40.671H13.0724Z" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M22.7523 34.5723H22.1751C21.8673 34.5723 21.6172 34.8224 21.6172 35.1302V44.4419C21.6172 44.7497 21.8673 44.9998 22.1751 44.9998H22.7523C23.0601 44.9998 23.3102 44.7497 23.3102 44.4419V35.1302C23.3102 34.8224 23.0601 34.5723 22.7523 34.5723Z" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M34.6381 34.5723H34.0802C33.7723 34.5723 33.5222 34.8224 33.5222 35.1302V41.9216L28.1738 34.8224C28.0776 34.6877 27.9044 34.5915 27.7313 34.5915H27.0579C26.7501 34.5915 26.5 34.8416 26.5 35.1494V44.4611C26.5 44.7689 26.7501 45.019 27.0579 45.019H27.6351C27.9429 45.019 28.193 44.7689 28.193 44.4611V37.689L33.5222 44.7882C33.6377 44.9228 33.7916 45.019 33.984 45.019H34.6573C34.9652 45.019 35.2153 44.7689 35.2153 44.4611V35.1494C35.2153 34.8416 34.9652 34.5915 34.6573 34.5915" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M44.4903 34.5723H37.4681C37.1603 34.5723 36.9102 34.8224 36.9102 35.1302V35.6689C36.9102 35.9767 37.1603 36.2268 37.4681 36.2268H40.1231V44.4419C40.1231 44.7497 40.3732 44.9998 40.681 44.9998H41.2582C41.566 44.9998 41.8161 44.7497 41.8161 44.4419V36.2268H44.4711C44.7789 36.2268 45.029 35.9767 45.029 35.6689V35.1302C45.029 34.8224 44.7789 34.5723 44.4711 34.5723" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M48.6836 39.6523H45.6439C45.336 39.6523 45.0859 39.9024 45.0859 40.2103V40.672C45.0859 40.9798 45.336 41.2299 45.6439 41.2299H48.6836C48.9915 41.2299 49.2416 40.9798 49.2416 40.672V40.2103C49.2416 39.9024 48.9915 39.6523 48.6836 39.6523Z" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M60.5176 39.324H59.9982H58.3051C57.9973 39.324 57.7472 39.5741 57.7472 39.8819V40.4399C57.7472 40.7477 57.9973 40.9978 58.3051 40.9978H59.4402V42.6908C58.7669 43.1333 57.9781 43.3834 57.17 43.3834C55.073 43.3834 53.3607 41.7674 53.3607 39.7857C53.3607 37.8041 55.073 36.2073 57.17 36.2073C58.1512 36.2073 59.1132 36.5536 59.8058 37.1692C59.9212 37.2654 60.0751 37.3231 60.229 37.3039C60.3829 37.3039 60.5176 37.2077 60.6138 37.0923L60.9601 36.6883C61.1525 36.4574 61.114 36.1303 60.9024 35.9187C59.8827 35.053 58.5552 34.5527 57.17 34.5527C54.1303 34.5527 51.6484 36.8999 51.6484 39.7665C51.6484 42.6331 54.111 44.9995 57.1316 44.9995C58.4975 44.9995 59.8635 44.4993 60.8832 43.6528C60.9986 43.5566 61.0755 43.4027 61.0755 43.2295V39.8627C61.0755 39.5549 60.8254 39.3048 60.5176 39.3048" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M68.518 34.5723C65.4782 34.5723 63.0156 36.9194 63.0156 39.786C63.0156 42.6526 65.4782 45.019 68.518 45.019C71.5577 45.019 74.0203 42.6719 74.0203 39.786C74.0203 36.9002 71.5577 34.5723 68.518 34.5723ZM68.518 43.3645C66.4209 43.3645 64.7279 41.7677 64.7279 39.786C64.7279 37.8044 66.4209 36.2268 68.518 36.2268C70.615 36.2268 72.3081 37.8237 72.3081 39.786C72.3081 41.7484 70.615 43.3645 68.518 43.3645Z" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M83.0442 39.4782C83.6214 38.9972 83.9292 38.2854 83.9292 37.4196C83.9292 35.6497 82.5632 34.5723 80.3892 34.5723H76.4837C76.1759 34.5723 75.9258 34.8224 75.9258 35.1302V44.4419C75.9258 44.7497 76.1759 44.9998 76.4837 44.9998H80.4085C82.9095 44.9998 84.3909 43.8647 84.3909 41.9408C84.3909 40.8634 83.8907 39.9977 83.025 39.4974M80.37 38.8048H77.6188V36.2268H80.37C81.2165 36.2268 82.2169 36.4384 82.2169 37.4966C82.2169 38.3623 81.6013 38.8048 80.37 38.8048ZM77.6188 40.4594H80.37C81.2357 40.4594 82.6979 40.6518 82.6979 41.8831C82.6979 43.1144 81.4281 43.3645 80.37 43.3645H77.6188V40.4786V40.4594Z" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M91.3355 34.8993C91.2393 34.7069 91.0469 34.5723 90.816 34.5723H90.2004C89.9888 34.5723 89.7771 34.7069 89.6809 34.8993L85.3522 44.211C85.2752 44.3842 85.2945 44.5765 85.3907 44.7305C85.4868 44.8844 85.6792 44.9806 85.8716 44.9806H86.5065C86.7374 44.9806 86.9298 44.8459 87.026 44.6535L88.1033 42.3256H92.9516L94.0482 44.6535C94.1444 44.8459 94.3368 44.9806 94.5677 44.9806H95.2025C95.3949 44.9806 95.5681 44.8844 95.6835 44.7305C95.7797 44.5765 95.7989 44.3842 95.722 44.211L91.3547 34.8993H91.3355ZM88.8537 40.671L90.5082 37.0926L92.182 40.671H88.8537Z" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M98.5335 34.5723H97.9564C97.6485 34.5723 97.3984 34.8224 97.3984 35.1302V44.4419C97.3984 44.7497 97.6485 44.9998 97.9564 44.9998H98.5335C98.8414 44.9998 99.0915 44.7497 99.0915 44.4419V35.1302C99.0915 34.8224 98.8414 34.5723 98.5335 34.5723Z" fill="#393F84"></path><path _ngcontent-ynm-c34="" d="M110.439 34.5723H109.881C109.573 34.5723 109.323 34.8224 109.323 35.1302V41.9216L103.974 34.8224C103.859 34.6877 103.705 34.5915 103.513 34.5915H102.839C102.531 34.5915 102.281 34.8416 102.281 35.1494V44.4611C102.281 44.7689 102.531 45.019 102.839 45.019H103.416C103.724 45.019 103.974 44.7689 103.974 44.4611V37.689L109.323 44.7882C109.438 44.9228 109.592 45.019 109.784 45.019H110.458C110.766 45.019 111.016 44.7689 111.016 44.4611V35.1494C111.016 34.8416 110.766 34.5915 110.458 34.5915" fill="#393F84"></path><mask _ngcontent-ynm-c34="" id="mask0_6298_258185" maskUnits="userSpaceOnUse" x="14" y="0" width="84" height="31" style="mask-type: luminance;"><path _ngcontent-ynm-c34="" d="M60.8827 18.3155L62.6334 19.6045V28.3968H60.8827V18.3348V18.3155ZM67.5778 0.288585L59.1896 8.61907C58.9972 8.81146 58.901 9.04233 58.901 9.29243V14.4292L56.2461 12.4861C55.8805 12.2168 55.3803 12.236 55.034 12.5053L47.5885 18.3348C47.3577 18.5271 47.223 18.7965 47.223 19.1043V28.3583H45.4722V23.2792C45.4722 21.3938 44.1447 19.4121 41.7014 19.4121C39.258 19.4121 37.9113 21.413 37.9113 23.2984V28.2813H36.1798V24.9145C36.1798 23.4331 35.1217 21.8555 33.1785 21.8555C31.2354 21.8555 30.1772 23.4331 30.1772 24.9145V28.2236H28.4457C28.4457 27.531 28.4457 26.646 28.4457 26.2805C28.4457 24.9337 27.1567 23.6447 25.5983 23.6447C23.8476 23.6447 22.7702 25.1069 22.7702 26.2612V28.2236H15.8442C15.2862 28.2236 14.8438 28.6661 14.8438 29.1856C14.8438 29.705 15.2862 30.1667 15.8442 30.1667H23.7514C24.0208 30.1667 24.2709 30.0705 24.444 29.8782C24.6364 29.6858 24.7326 29.4549 24.7326 29.1856C24.7326 29.1856 24.7326 26.6268 24.7326 26.3959C24.7326 26.165 24.925 25.5686 25.5406 25.5686C26.2717 25.5686 26.4064 26.1458 26.4064 26.4151C26.4064 26.6268 26.4064 29.1663 26.4064 29.1663C26.4064 29.705 26.8489 30.1283 27.4068 30.1283H31.1392C31.6971 30.1283 32.1396 29.6858 32.1396 29.1471V24.8568C32.1396 24.472 32.3512 23.7409 33.14 23.7409C33.9288 23.7409 34.1405 24.472 34.1405 24.8568V29.1856C34.1405 29.7242 34.583 30.1667 35.1409 30.1667H38.854C39.1234 30.1667 39.3735 30.0705 39.5659 29.8782C39.7582 29.705 39.8544 29.4549 39.8544 29.1856V23.2215C39.8544 22.5481 40.22 21.2783 41.6437 21.2783C42.9519 21.2783 43.4329 22.4327 43.4329 23.2022V29.2433C43.4329 29.782 43.8754 30.2245 44.4333 30.2245H48.1657C48.7044 30.2245 49.1661 29.782 49.1661 29.2433V19.4891L55.6497 14.41L58.8818 16.7764V29.2433C58.8818 29.782 59.3243 30.2245 59.863 30.2245H63.5954C64.1533 30.2245 64.5958 29.782 64.5958 29.2433V18.9889C64.5958 18.6811 64.4419 18.3925 64.1918 18.2193L60.8442 15.7952V9.58102L67.2508 3.23215V29.2817C67.2508 29.8204 67.6933 30.2629 68.2512 30.2629H71.9836C72.5415 30.2629 72.984 29.8204 72.984 29.2817V12.2937H74.0037L78.2362 16.1992V29.3395C78.2362 29.8782 78.6787 30.3207 79.2367 30.3207H82.969C83.5269 30.3207 83.9695 29.8782 83.9695 29.3395V25.6456L88.3752 29.8974C88.5676 30.0705 88.8177 30.186 89.087 30.186H96.0515C96.6095 30.186 97.052 29.7435 97.052 29.224C97.052 28.7046 96.6095 28.2428 96.0515 28.2428H89.5103L83.7001 22.6251C83.4115 22.3557 82.9883 22.2595 82.6227 22.4134C82.2572 22.5673 82.0071 22.9136 82.0071 23.3177V28.3775H80.2756V15.776C80.2756 15.5066 80.1601 15.2565 79.9677 15.0641L75.1388 10.6007C74.9464 10.4275 74.7155 10.3313 74.4462 10.3313H72.0413C71.4833 10.3313 71.0409 10.7738 71.0409 11.3125V28.3198H69.2901V0.981189C69.2901 0.57717 69.04 0.230868 68.6745 0.076956C68.559 0.019239 68.4243 0 68.2897 0C68.0203 0 67.7702 0.096195 67.5778 0.288585Z" fill="white"></path></mask><g _ngcontent-ynm-c34="" mask="url(#mask0_6298_258185)"><path _ngcontent-ynm-c34="" d="M97.0718 0H14.8828V30.3207H97.0718V0Z" fill="url(#paint0_linear_6298_258185)"></path></g></g><defs _ngcontent-ynm-c34=""><linearGradient _ngcontent-ynm-c34="" id="paint0_linear_6298_258185" x1="14.2164" y1="17.1389" x2="96.4053" y2="17.1389" gradientUnits="userSpaceOnUse"><stop _ngcontent-ynm-c34="" stop-color="#79AEB0"></stop><stop _ngcontent-ynm-c34="" offset="0.1" stop-color="#79AEB0"></stop><stop _ngcontent-ynm-c34="" offset="0.3" stop-color="#5F92CD"></stop><stop _ngcontent-ynm-c34="" offset="0.37" stop-color="#455B9C"></stop><stop _ngcontent-ynm-c34="" offset="0.42" stop-color="#393F84"></stop><stop _ngcontent-ynm-c34="" offset="0.47" stop-color="#6E326A"></stop><stop _ngcontent-ynm-c34="" offset="0.55" stop-color="#BE1F45"></stop><stop _ngcontent-ynm-c34="" offset="0.56" stop-color="#BE2144"></stop><stop _ngcontent-ynm-c34="" offset="0.68" stop-color="#C64C34"></stop><stop _ngcontent-ynm-c34="" offset="0.78" stop-color="#CC672B"></stop><stop _ngcontent-ynm-c34="" offset="0.84" stop-color="#CE7128"></stop><stop _ngcontent-ynm-c34="" offset="1" stop-color="#CE7128"></stop></linearGradient><clipPath _ngcontent-ynm-c34="" id="clip0_6298_258185"><rect _ngcontent-ynm-c34="" width="110.124" height="45" fill="white" transform="translate(0.875)"></rect></clipPath></defs></svg></a></td>
                                        </tr>
                                    </tbody></table></td>
                                </tr>
                            </tbody></table></td>
                       </tr>
               </tbody></table></td>
        </tr>
    </tbody></table>
</div>