.container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'roboto', sans-serif;
}

.pending__requests {
    /* margin-top: 2em; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 2em; */
    padding: 1em;
    background: #F5F3F0;
    border-radius: 5px;
}

.pending__requests h3 {
    margin-bottom: 0em;
    color: #005EB8; 
    font-weight: 600; 
    font-size: 24px;
    text-transform: uppercase; 
}

.pending__requests .chevron {
    display: none;
    height: 15px;
    /* margin-right: 20px; */
}

.btn {
    font-weight: 700;
    /* padding: .3em 2em; */
    background: #005eb8;
    color: white;
    border: 2px solid #014e96;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}

.modal-footer {
    padding-bottom: 0;
}

.upload-artwork-file {
    border-top: 1px solid #c5c5c5;
    padding: 1em;
}

.input__artwork {
    padding: 1rem;
    background: #F5F3F0;
    overflow: hidden;
    /* border: 1px solid red; */
}

/* Mobileonly screen  */
@media(max-width: 480px) {
    .pending__requests {
        /* border: 1px solid red; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 2em;
    }
    .pending__requests h3 {
        font-size: 18px;
    }
    .pending__requests .chevron {
        display: block;
        height: 15px;
        /* margin-right: 20px; */
    }
    .card-header {
        font-size: 16px;
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 8px;
    }
    .col-md {
        margin-bottom: 1em;
    }
    .products_card, .assign_customers_card {
        /* border: 1px solid red; */
        margin: 0 19.5px;
    }
    .btn {
        /* margin-top: 1em; */
        width: 100%;
    }
    .modal-body img {
        height: 300px;
    }
   } 

   @media (min-width: 481px) and (max-width: 580px) {
    .pending__requests {
        /* border: 1px solid red; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 2em;
    }
    .pending__requests h3 {
        font-size: 18px;
    }
    .pending__requests .chevron {
        display: block;
        height: 15px;
        /* margin-right: 20px; */
    }
    .row {
        /* border: 1px solid red; */
        margin: 0px 8px;
    }
    .col-md {
        margin-bottom: 2em;
    }
    .products_card, .assign_customers_card {
        /* border: 1px solid red; */
        margin: 0 19.5px;
    }
    .hidden__field {
        visibility: visible;
        display: none;
    }
   }