<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">ALL ORDERS</h3> -->
    <div class="pending__requests mb-2">
      <a href="javascript:void(0)" (click)="goBack()">
        <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
      </a>
        <h3>{{ 'create_new_order.upload_artwork_header' | translate }}</h3>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">
                  {{ 'create_new_order.upload_artwork_title' | translate }} #{{ artworkOrderName }}
                </div>
                <div class="card-body">
                    <p><b>{{ 'create_new_order.upload_artwork_1' | translate }}</b></p>
                    <p><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Click here</a>{{ 'create_new_order.upload_artwork_2' | translate }}</p>
                    <p style="margin-bottom: .3em;">{{ 'create_new_order.upload_artwork_3' | translate }}</p>
                    <ul>
                        <li>Click the <span style="color: #005EB8; font-weight: 600;">CHOOSE FILE</span> button.</li>
                        <li>{{ 'create_new_order.upload_artwork_4' | translate }}</li>
                        <li>Click the <span style="color: #005EB8; font-weight: 600;">UPLOAD NEW FILE</span> button.</li>
                    </ul>
                    <div class="form-group col-10 mt-4">
                        <label for="">{{ 'create_new_order.upload_artwork_5' | translate }}</label>
                        <input type="text" class="form-control mt-2" [(ngModel)]="artworks.pmsColors">
                        <small>*{{ 'create_new_order.upload_artwork_6' | translate }}</small>
                    </div>
                </div>    
                    <div class="upload-artwork-file">
                        <div class="form-group input__artwork">
                            <input class="mt-2" type="file" name="uploadNewFile" id="uploadNewFile">
                        </div>
                        <div *ngIf="showErrorAlert" class="alert alert-danger mt-3" role="alert">
                          {{ 'create_new_order.upload_artwork_7' | translate }}
                        </div>
                        
                        <!-- <div *ngIf="showSuccessAlert" class="alert alert-success mt-3" role="alert">
                          🎉  File uploaded successfully.
                        </div> -->

                        <!-- Please select a file alert -->
                        <div *ngIf="showFileSelectAlert" class="alert alert-warning mt-3" role="alert">
                          {{ 'create_new_order.upload_artwork_8' | translate }}
                        </div>
                        <button type="submit" class="btn btn-primary mt-4" (click)="uploadFile()">{{ 'create_new_order.upload_artwork_9' | translate }}</button>
                        
                  </div>
            </div>
        </div>
    </div>
</div>              

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">
          <h4 class="modal-title">About the artwork</h4> 
          <button style="font-size: 1em; background-color: white;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please request one of the following format from your client. If they do not have the correct file type at hand, then whoever designed their logo or their printer will have them.</p>

          <p style="font-weight: 600;">Artwork can ONLY be supplied in the following formats:</p>
          <p>Adobe Illustrator AI, EPS (CS5 or lower)</p>

          <p>Note: All text must be converted to outlines/curves and in a scalable vector format. Low resolution jpgs or bmps (such as those copied from websites) are not acceptable formats.</p>

          <p>Vector Artwork: Vector art is required for manufacturing crisp, well defined printing plates. The art is made from a series of mathematical curves it will print very crisply even when resized. For instance, a vector logo printed on a small sheet of copy paper, and then enlarged to billboard size, will keep the same crisp quality. A low-resolution raster graphic (jpeg, tif or bmp) blurs or pixelates excessively when enlarged. See illustration below.</p>
  
          <img src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/artwork_help_img.jpg" alt="">

        <!-- <div class="modal-footer">
          <button type="button" class="btn"> 
            Close
          </button>  -->
        </div>
      </div>
    </div>
