<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 32px;">View Order</h3> -->
    <div class="pending__requests mb-4">
        <a href="javascript:void(0)" (click)="goBack()">
            <img class="chevron" src="https://digital-team-805wb.certainteed.com/Productcustomization/assets/images/left-chevron.png" alt="">
        </a>
        <h3>Edit order</h3>
    </div>
    <form #orderForm="ngForm" (ngSubmit)="updateOrder()">
    <div class="row mt-4">
        <div class="col-md">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">{{ 'create_new_order.order_info' | translate }}</div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="SiteId" class="form-label">{{ 'create_new_order.label_site' | translate }}</label>
                        <select class="form-select" id="SiteId" name="SiteId" [(ngModel)]="order.Siteid"
                        #Siteid="ngModel" required [ngClass]="{'is-invalid': Siteid.invalid && Siteid.touched}" disabled>
                            <option value="" disabled>-- Select a Product --</option>
                            <!-- <option value="0" disabled>-- Select a Site --</option> -->
                            <option *ngFor="let site of allSites" [value]="site.SiteId">{{site.SiteName}}</option>
                        </select>

                        <div *ngIf="Siteid.invalid && Siteid.touched" style="color: red;">
                            This field is required
                        </div>
                    </div>   
                    <div class="form-group mb-3">
                        <label for="CTOrderNumber" class="form-label">{{ 'create_new_order.label_Order_Number' | translate }}</label>
                        <input type="text" class="form-control" id="CTOrderNumber" name="CTOrderNumber" #CTOrderNumber="ngModel" [(ngModel)]="order.CTOrderNumber">
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTPONumber" class="form-label">{{ 'create_new_order.label_PO_Number' | translate }}</label>
                        <input type="text" class="form-control" id="CTPONumber" name="CTPONumber" #CTPONumber="ngModel" [(ngModel)]="order.CTPONumber">
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTOrderDate" class="form-label">{{ 'create_new_order.label_Order_date' | translate }}</label>
                        <input type="text" class="form-control" id="CTOrderDate" name="CTOrderDate" [(ngModel)]="order.CTOrderDate" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="anticipatedCompletionDate" class="form-label">{{ 'create_new_order.label_anticipated' | translate }}</label>
                        <input type="text" class="form-control" id="anticipatedCompletionDate" name="anticipatedCompletionDate" value="---" aria-describedby="anticipatedCompletionDateHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3" *ngIf="orderStatus">
                        <label for="orderStatus" class="form-label">{{ 'create_new_order.label_order_status' | translate }}</label>
                        <p><b>{{ orderStatus[0].Status }}</b></p>
                    </div>
                    <div class="form-group mb-3">
                        <label for="enteredBy" class="form-label">{{ 'create_new_order.entered_by' | translate }}</label>
                        <input type="text" class="form-control" id="enteredBy" name="enteredBy" value="tauhidpatel" aria-describedby="enteredByHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="lastUpdated" class="form-label">{{ 'create_new_order.label_last_updated' | translate }}</label>
                        <input type="text" class="form-control" id="lastUpdated" name="lastUpdated" value="27/02/2024" aria-describedby="lastUpdatedHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="artworkFile" class="form-label">{{ 'create_new_order.label_Artwork' | translate }}</label>
                        <p>
                            <ng-container *ngIf="this.myArtwork">
                                <a class="order-status-link" (click)="downloadArtwork(order.OrderID)">
                                    Click here to download artwork
                                </a>
                            </ng-container>
                            <ng-container *ngIf="!this.myArtwork">
                                <input type="text" class="form-control" id="latestArtwork" value="(pending upload artwork)" aria-describedby="latestArtworkHelp" disabled readonly>
                            </ng-container>
                        </p>
                        <!-- <p>
                            <a class="order-status-link" *ngIf="order.ArtworkID" (click)="downloadArtwork(order.OrderID)">
                                Click here to download artwork
                            </a>
                            <span *ngIf="!order.ArtworkID">
                                <input type="text" class="form-control" id="latestArtwork" value="(pending upload artwork)" aria-describedby="latestArtworkHelp" disabled readonly>
                            </span>
                        </p> -->
                    </div>
                    <div class="form-group mb-3">
                        <label for="latestProof" class="form-label">{{ 'create_new_order.label_latest_proof' | translate }}</label>
                        <p>
                            <ng-container *ngIf="this.myProof">
                                <a class="order-status-link" (click)="downloadProof(order.OrderID)">
                                    Click here to download proof
                                </a>
                            </ng-container>
                            <ng-container *ngIf="!this.myProof">
                                <input type="text" class="form-control" id="latestProof" value="(pending upload by vendor)" aria-describedby="latestProofHelp" disabled readonly>
                            </ng-container>
                        </p>
                        <!-- <p>
                            <a class="order-status-link" *ngIf="order.ProofID" (click)="downloadProof(order.OrderID)">
                                Click here to download proof
                            </a>
                            <span *ngIf="!order.ProofID">
                                <input type="text" class="form-control" id="latestProof" value="(pending upload by vendor)" aria-describedby="latestProofHelp" disabled readonly>
                            </span>
                        </p> -->
                    </div>
                    <div class="form-group mb-3">
                        <label for="orderType" class="form-label">{{ 'create_new_order.label_Order_Type' | translate }}</label>
                        <input type="text" class="form-control" id="orderType" name="orderType" value="{{ currentOrderType }}" disabled readonly>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- SHIPPINGGGG -->
        <div class="col-md">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">{{ 'create_new_order.shipping_info' | translate }}</div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="orderBy" class="form-label">{{ 'create_new_order.label_OrderBy' | translate }}</label>
                        <input type="text" class="form-control" id="orderBy" name="orderBy" value="tauhid" aria-describedby="orderByHelp" disabled readonly>

                    </div>
                    <div class="form-group mb-3">
                        <label for="shipTo" class="form-label">{{ 'create_new_order.label_ShipTo' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_Name" name="CTShipToInformation_Name" #CTShipToInformation_Name="ngModel" [(ngModel)]="order.CTShipToInformation_Name">

                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_CompanyName" class="form-label">{{ 'create_new_order.label_Company' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_CompanyName" name="CTShipToInformation_CompanyName" #CTShipToInformation_CompanyName="ngModel" [(ngModel)]="order.CTShipToInformation_CompanyName">
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_AccountNumber" class="form-label">{{ 'create_new_order.label_Contact' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_AccountNumber" name="CTShipToInformation_AccountNumber" #CTShipToInformation_AccountNumber="ngModel" [(ngModel)]="order.CTShipToInformation_AccountNumber">
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_Address" class="form-label">{{ 'create_new_order.label_Address' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_Address" name="CTShipToInformation_Address" #CTShipToInformation_Address="ngModel" [(ngModel)]="order.CTShipToInformation_Address">
                    </div>
                    <div class="form-group mb-3">
                        <label for="city" class="form-label">{{ 'create_new_order.label_City' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_City" name="CTShipToInformation_City" #CTShipToInformation_City="ngModel" [(ngModel)]="order.CTShipToInformation_City">
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_State" class="form-label">{{ 'create_new_order.label_State' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_State" name="CTShipToInformation_State" #CTShipToInformation_State="ngModel" [(ngModel)]="order.CTShipToInformation_State">
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_ZipCode" class="form-label">{{ 'create_new_order.label_Zip' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_ZipCode" name="CTShipToInformation_ZipCode" #CTShipToInformation_ZipCode="ngModel" [(ngModel)]="order.CTShipToInformation_ZipCode">
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_Country" class="form-label">{{ 'create_new_order.label_Country' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_Country" name="CTShipToInformation_Country" #CTShipToInformation_Country="ngModel" [(ngModel)]="order.CTShipToInformation_Country">
                    </div>
                    <div class="form-group mb-3">
                        <label for="CTShipToInformation_Phone" class="form-label">{{ 'create_new_order.label_phone' | translate }}</label>
                        <input type="text" class="form-control" id="CTShipToInformation_Phone" name="CTShipToInformation_Phone" #CTShipToInformation_Phone="ngModel" [(ngModel)]="order.CTShipToInformation_Phone">
                    </div>
                    <div class="form-group hidden__field">
                        <label for="telephone" class="form-label">Telephone</label>
                        <input type="text" class="form-control" id="telephone" aria-describedby="telephoneHelp" disabled readonly>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- PRODUCTS NEW SECTION -->
    <div class="card mt-4 products_card">
        <div class="card-header p-3">{{ 'create_new_order.PRODUCTS' | translate }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table id="productTable" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="display: none;">Proxy</th>
                                <th>{{ 'create_new_order.label_product_1' | translate }}</th>
                                <th>{{ 'create_new_order.label_product_2' | translate }}</th>
                                <th>{{ 'create_new_order.label_product_3' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>           
                            <tr *ngFor="let product of orderProductDetails; let i = index;">
                                <td style="display: none;">
                                    <input type="text" class="form-control" name="ProxyID{{i}}" [(ngModel)]="product.ProxyID">
                                </td>
                                <td style="padding-right: 20px; padding-bottom: 20px;">
                                    <input type="text" class="form-control" name="ProductCode{{i}}" [(ngModel)]="product.ProductCode">
                                </td>
                                <td style="padding-right: 20px; padding-bottom: 20px;">
                                    <input type="text" class="form-control" name="ProductDescription{{i}}" [(ngModel)]="product.ProductDescription">
                                </td>
                                <td style="padding-right: 20px; padding-bottom: 20px;">
                                    <input type="text" class="form-control" name="ProductQty{{i}}" [(ngModel)]="product.ProductQty">
                                </td>
                            </tr>

                            <tr *ngFor="let newProduct of newProductDetails; let i = index;">
                                <td style="padding-right: 20px; padding-bottom: 20px;">
                                    <input type="text" class="form-control" name="newProductCode{{i + newProductDetails.length}}" [(ngModel)]="newProduct.ProductCode">
                                </td>
                                <td style="padding-right: 20px; padding-bottom: 20px;">
                                    <input type="text" class="form-control" name="newProductDescription{{i + newProductDetails.length}}" [(ngModel)]="newProduct.ProductDescription">
                                </td>
                                <td style="padding-right: 20px; padding-bottom: 20px;">
                                    <input type="text" class="form-control" name="newProductQty{{i + newProductDetails.length}}" [(ngModel)]="newProduct.ProductQty">
                                </td>
                            </tr>
                        </tbody>    
                    </table>
                </div>
            </div>
        </div>
    </div>
    


    <!-- ASSIGN CUSTOMER SECTION -->
    <div class="card mt-4 assign_customers_card">
        <div class="card-header p-3">{{ 'create_new_order.assign_customer' | translate }}</div>
        <div class="card-body">
            <p>{{ 'create_new_order.label_customer' | translate }}</p>
            <div class="row">
                <div class="col mt-2 form-group">
                    <select class="form-select assign__form__input" id="CTShipToInformation_EmailAddress" name="CTShipToInformation_EmailAddress"
                        [(ngModel)]="order.CTShipToInformation_EmailAddress" required #CTShipToInformation_EmailAddress="ngModel"
                        [ngClass]="{'is-invalid': CTShipToInformation_EmailAddress.invalid && CTShipToInformation_EmailAddress.touched}">
                        <option selected disabled value="">-- Select a Customer --</option>
                        <option *ngFor="let email of customerEmails" [value]="email.EmailAddress">{{email.EmailAddress}}</option>
                    </select>
                    <div *ngIf="CTShipToInformation_EmailAddress.invalid && CTShipToInformation_EmailAddress.touched"
                        style="color: red">
                        This field is required
                    </div>
                </div>  
            </div>
            <div *ngIf="showSuccessAlert" class="alert alert-success mt-3" role="alert">
                Order Edited Successfully.
            </div>
            <!-- <button type="button" class="btn btn-primary mt-4" (click)="createOrder()">Create Order</button> -->
            <button type="submit" class="btn btn-primary mt-4">UPDATE ORDER</button>
        </div>
    </div>
</form>
</div>
